<footer>


</footer>


<script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/typeit.min.js"></script>
<script type="text/javascript" src="/static/js/scrolloverflow.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.fullpage.js"></script>
<script type="text/javascript" src="/static/js/scripts.js"></script>

</body>

</html>