<footer class="footer-section">
    <div class="container-footer">
        <div class="row">
            <div class="col-md-8">
                <div class="footer-moto">
                    <p class="footer-moto-head">
                        We operate best on big vision
                    </p>
                    <p class="footer-moto-head">
                        And creative detail
                    </p>
                    <p class="footer-moto-sub">
                        Let us make you website the best
                    </p>
                </div>
                <div class="contacts-border">
                    <img src="/static/images/elements/contacts.svg">
                </div>
                <p class="contact-num">
                    +380 (97) 409 23 03
                </p>
                <p class="contact-mail">
                    info@hive-studio.net
                </p>
            </div>
            <div class="col-md-4">
                <div class="svg-wrapper btn-portfolio">
                    <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                        <rect class="shape" height="60" width="320" />
                    </svg>
                    <div class="btn-footer">
                        <a href="#" class="btn-portfolio-2">Download Presentation</a>
                    </div>
                </div>
                <div class="svg-wrapper btn-brief">
                    <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                        <rect class="shape" height="60" width="320" />
                    </svg>
                    <div class="btn-footer">
                        <a href="#" class="btn-brief-2">Download Brief</a>
                    </div>
                </div>
            </div>
            <div class=" col-sm-12 footer-social-links block-social-links">
                <a href="#" title="Facebook" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#" title="LinkedIn" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="#" title="Skype" target="_blank">
                    <i class="fa fa-skype"></i>
                </a>
                <a href="#" title="Telegram" target="_blank">
                    <i class="fa fa-telegram"></i>
                </a>
                <a href="#" title="Viber" target="_blank">
                    <i class="fa fa-phone-square"></i>
                </a>
                <a href="#" title="WhatsApp" target="_blank">
                    <i class="fa fa-whatsapp"></i>
                </a>
            </div>
        </div>
        <div class="footer-copy">
            <a class="copyright-hive" href="http://hive-studio.net" target="_blank">&copy;Hive-Studio 2018</a>
        </div>
        <div class="footer-made">
            We create cutting edge for great people.
        </div>
    </div>
</footer>

<script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/SmoothScroll.js"></script>
<script type="text/javascript" src="/static/js/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.localScroll.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.viewport.mini.js"></script>
<script type="text/javascript" src="/static/js/jquery.appear.js"></script>
<script type="text/javascript" src="/static/js/jquery.sticky.js"></script>
<script type="text/javascript" src="/static/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="/static/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="/static/js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="/static/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/static/js/wow.min.js"></script>
<script type="text/javascript" src="/static/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.simple-text-rotator.min.js"></script>
<script type="text/javascript" src="/static/js/all.js"></script>
<script type="text/javascript" src="/static/js/jquery.ajaxchimp.min.js"></script>
<script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/particles_js/particles.min.js"></script>
<script type="text/javascript" src="/static/js/particles_js/app.js"></script>

<script type="text/javascript">
    $(function () {
        var animspeed = 1000; // animation speed in milliseconds
        var $blockquote = $('.bigtext');
        var height = $blockquote.height();
        var mini = $('.bigtext p').eq(0).height() + $('.bigtext p').eq(1).height() + $('.bigtext p').eq(2).height() + $('.bigtext p').eq(2).height();

        $blockquote.attr('data-fullheight', height + 'px');
        $blockquote.attr('data-miniheight', mini + 'px');
        $blockquote.css('height', mini + 'px');


        $('.expand').on('click', function (e) {
            $text = $(this).prev();

            $text.animate({
                'height': $text.attr('data-fullheight')
            }, animspeed);
            $(this).next('.contract').removeClass('hide');
            $(this).addClass('hide');
        });

        $('.contract').on('click', function (e) {
            $text = $(this).prev().prev();

            $text.animate({
                'height': $text.attr('data-miniheight')
            }, animspeed);
            $(this).prev('.expand').removeClass('hide');
            $(this).addClass('hide');
        });
    });
</script>

</body>

</html>