<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <title>Hive Studio</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <meta name="author" content="Hive-Team">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="shortcut icon" href="/static/images/favicon.png">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/style-responsive.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/vertical-rhythm.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">

</head>

<body class="appear-animate">

    <!-- Page Loader -->
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- End Page Loader -->

    <!-- Page Wrap -->
    <div class="page" id="top">

        <!-- Home Section -->
        <section class="home-section bg-dark-alfa-90 parallax-2" data-background="/static/images/full-width-images/section-bg-4.jpg"
            id="home">
            <div class="js-height-full">

                <!-- Hero Content -->
                <div class="home-content container">
                    <div class="home-text">

                        <h1 class="hs-line-8 font-alt mb-50 mb-xs-30">
                            web development presents
                        </h1>

                        <h2 class="hs-line-11 font-alt mb-50 mb-xs-30">
                            Hive Studio
                        </h2>

                        <div class="local-scroll">
                            <a href="#about" class="btn btn-mod btn-w btn-medium btn-round hidden-xs">Portfolio</a>
                        </div>

                    </div>
                </div>
                <!-- End Hero Content -->

                <!-- Scroll Down -->
                <div class="local-scroll">
                    <a href="#about" class="scroll-down">
                        <i class="fa fa-angle-down scroll-down-icon"></i>
                    </a>
                </div>
                <!-- End Scroll Down -->

            </div>
        </section>
        <!-- End Home Section -->

        <!-- Navigation panel -->
        <nav class="main-nav dark transparent stick-fixed">
            <div class="full-wrapper relative clearfix">
                <!-- Logo ( * your text or image into link tag *) -->
                <div class="nav-logo-wrap local-scroll">
                    <a href="#top" class="logo">
                        <img src="/static/images/logo-white.png" alt="" />
                    </a>
                </div>
                <div class="mobile-nav">
                    <i class="fa fa-bars"></i>
                </div>
                <!-- Main Menu -->
                <div class="inner-nav desktop-nav">
                    <ul class="clearlist scroll-nav local-scroll">
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li>
                            <a href="#portfolio">Portfolio</a>
                        </li>
                        <li>
                            <a href="#contact">Contacts</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navigation panel -->