<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <title>Hive Studio</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <meta name="author" content="Hive-Team">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="shortcut icon" href="/static/images/favicon.png">

    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/lib/rhytm.min.css">
    <link rel="stylesheet" href="/static/css/lib/style-responsive.css">
    <link rel="stylesheet" href="/static/css/lib/animate.min.css">
    <link rel="stylesheet" href="/static/css/lib/vertical-rhythm.min.css">
    <link rel="stylesheet" href="/static/css/lib/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/lib/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/lib/particles.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113086520-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-113086520-1');
    </script>


</head>

<body class="appear-animate">

    <!-- Page Loader -->
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- End Page Loader -->

    <div class="page" id="top">

        <!-- Navigation panel -->
        <nav class="main-nav dark transparent stick-fixed">
            <div class="full-wrapper relative clearfix">
                <div class="nav-logo-wrap local-scroll">
                    <a href="/" class="logo">
                        <img src="/static/images/logo.svg" alt="" height="250" width="250">
                    </a>
                </div>
                <div class="mobile-nav">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="inner-nav desktop-nav">
                    <ul class="clearlist scroll-nav local-scroll">
                        <li>
                            <a href="/blog">
                                <span>Blog</span>
                            </a>
                        </li>
                        <li>
                            <a href="#about">
                                <span>About</span>
                            </a>
                        </li>
                        <li>
                            <a href="#services">
                                <span>Services</span>
                            </a>
                        </li>
                        <li>
                            <a href="#portfolio">
                                <span>Portfolio</span>
                            </a>
                        </li>
                        <li>
                            <a href="#contact">
                                <span>Contacts</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="mn-has-sub">Eng
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="mn-sub">
                                <li>
                                    <a href="#">English</a>
                                </li>
                                <li>
                                    <a href="#">Русский</a>
                                </li>
                                <li>
                                    <a href="#">Українська</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navigation panel -->