<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <title>Hive Studio</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <meta name="author" content="Hive-Team">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link rel="shortcut icon" href="/static/images/favicon.png">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/style-responsive.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/vertical-rhythm.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/particles.css">

</head>

<body class="appear-animate">

    <!-- Page Loader -->
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- End Page Loader -->

    <!-- Page Wrap -->
    <div class="page" id="top">

        <!-- Home Section -->
        <section class="home-section bg-dark-alfa-70 parallax-2" data-background="/static/images/full-width-images/section-bg-4.png"
            id="home">
            <div class="js-height-full">

                <!-- Hero Content -->
                <div class="home-content container">
                    <div class="home-text">
                        <div class="container moto">
                            <h2 class="hs-line-h font-alt mb-xs-30 text-left">
                                HIVE
                            </h2>
                            <h2 class="hs-line-h font-alt mb-xs-30 text-left">
                                WEB
                            </h2>
                            <h2 class="hs-line-h font-alt mb-xs-30 text-left">
                                STUDIO
                            </h2>
                        </div>
                        <br>
                        <br>
                        <div class="container moto">
                            <h1 class="hs-line-m font-alt mb-xs-30 text-left moto2 moto12">
                                we create cutting edge websites
                            </h1>
                            <h1 class="hs-line-m font-alt mb-xs-30 text-left moto2">
                                for your business and hobby
                            </h1>
                        </div>
                    </div>
                </div>
                <!-- End Hero Content -->

                <!-- Scroll Down -->
                <div class="local-scroll">
                    <a href="#about" class="scroll-down">
                        <i class="fa fa-angle-down scroll-down-icon"></i>
                    </a>
                </div>
                <!-- End Scroll Down -->

            </div>
        </section>
        <!-- End Home Section -->

        <!-- Navigation panel -->
        <nav class="main-nav dark transparent stick-fixed">
            <div class="full-wrapper relative clearfix">
                <!-- Logo ( * your text or image into link tag *) -->
                <div class="nav-logo-wrap local-scroll">
                    <a href="#top" class="logo">
                        <img src="/static/images/logo.svg" alt="" height="250" width="250">
                    </a>
                </div>
                <div class="mobile-nav">
                    <i class="fa fa-bars"></i>
                </div>
                <!-- Main Menu -->
                <div class="inner-nav desktop-nav">
                    <ul class="clearlist scroll-nav local-scroll">
                        <li>
                            <a href="#about"><span>About</span></a>
                        </li>
                        <li>
                            <a href="#services"><span>Services</span></a>
                        </li>
                        <li>
                            <a href="#portfolio"><span>Portfolio</span></a>
                        </li>
                        <li>
                            <a href="#contact"><span>Contacts</span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navigation panel -->