<% include ./partials/header %>

    <section class="page-404 bg-dark-alfa-50">
        <div class="js-height-full">
            <div class="home-content container">
                <div class="home-text">
                    <div class="hs-cont">
                        <div class="hs-wrap">
                            <div class="title-404">
                                404
                            </div>
                            <div class="info-404">
                                oops!
                            </div>
                            <div class="info-404-2">
                                looks like this page doesn't exist
                            </div>
                            <div class="svg-wrapper btn-404">
                                <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                                    <rect class="shape" height="60" width="320" />
                                </svg>
                                <div class="btn-404-block">
                                    <a href="/" class="btn-404">Back to Main Page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include ./partials/footer %>