<% include ./partials/header %>

    <div id='fp-js'>
        <div class='fp-js white-section'>
            <h2 class="section-header padding-tb-4">Handcrafted by web geeks.</h2>
            <div class="container">
                <div class="row">
                    <div class="center">
                        <div class="col-md-8 f-left padding-tb-2 left-border-black about-us-border">
                            <p class="s-md-300 left">
                                <strong>Hive Studio</strong> is a new generation and talented web studio, specializing in producing
                                high-quality products at affordable prices. We believe that quality websites with correct
                                SEO optimization serve customers better and act as a valuable investment for the client.
                                We are glad to help your business to increase the actual cash flow.
                            </p>
                        </div>
                        <div class="col-md-8 f-right padding-tb-2">
                            <p class="s-md-300 right right-border-black about-us-border">
                                Striving to create something interesting and new for our clients, Hive understands that the best client relationships are
                                based on an exceptional product. That's why we offer a full service for each website we created.
                                Our service includes an expertly technical support, hosting and unique website domain fees,
                                digital design and SEO. We can speak your language: Russian, English, German and Ukrainian.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 center padding-tb-2">
                        <a class="bb-text s-md">
                            We can speak your language
                        </a>
                        <p class="s-md-bold">Ukrainian - Russian - English - German</p>
                    </div>
                    <div>
                        <a href="#about" class="scroll-down scroll-down-black">
                            <img class="scroll-down-icon" src="/static/images/elements/angle-down-white.svg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class='fp-js dark-section background-team'>
            <div class="section-content container-fluid">
                <h2 class="section-header">Team structure.</h2>
                <br>
                <div class="row">
                    <div class="col-xl-2 col-md-2 col-md-offset-1 col-sm-offset-2 col-xs-12">
                        <img class="team-img" src="/static/images/team/alex.png">
                        <div class="team-border"></div>
                        <p class="team-name">Alex Bukhanenko</p>
                        <p class="team-pos">Front-end Web Developer</p>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 team-social-links footer-social-links">
                            <a href="https://www.facebook.com/groups/875659312616598/" title="Facebook" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/18444275/" title="LinkedIn" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-2 col-sm-4 col-xs-12">
                        <img class="team-img" src="/static/images/team/dmytro.png">
                        <div class="team-border"></div>
                        <p class="team-name">Dmytro Kuznets</p>
                        <p class="team-pos">Lead Designer</p>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 team-social-links footer-social-links">
                            <a href="https://www.facebook.com/groups/875659312616598/" title="Facebook" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/18444275/" title="LinkedIn" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-2 col-sm-4 col-xs-12">
                        <img class="team-img" src="/static/images/team/anton.png">
                        <div class="team-border"></div>
                        <p class="team-name">Anton Fandul</p>
                        <p class="team-pos">Team Lead</p>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 team-social-links footer-social-links">
                            <a href="https://www.facebook.com/groups/875659312616598/" title="Facebook" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/18444275/" title="LinkedIn" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-2 col-sm-4 col-xs-12">
                        <img class="team-img" src="/static/images/team/oleh.png">
                        <div class="team-border"></div>
                        <p class="team-name">Oleh Kuznets</p>
                        <p class="team-pos">UI/UX Web Developer</p>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 team-social-links footer-social-links">
                            <a href="https://www.facebook.com/groups/875659312616598/" title="Facebook" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/18444275/" title="LinkedIn" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-2 col-sm-4 col-xs-12">
                        <img class="team-img" src="/static/images/team/nastya.png">
                        <div class="team-border"></div>
                        <p class="team-name">Anastasiia Kuznets</p>
                        <p class="team-pos">SEO Manager</p>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 team-social-links footer-social-links">
                            <a href="https://www.facebook.com/groups/875659312616598/" title="Facebook" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/18444275/" title="LinkedIn" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='fp-js white-section'>
            <div class="section-content">
                <h2 class="section-header">
                    Improve your business.</h2>
                <h3 class="section-sub-header about-cta-sub md-300">Professinalism and customer-oriented approach begins from the first contact through to completion of the
                    project
                </h3>
                <div class="row count-block">
                    <div class="col-xl-2 col-md-2 col-md-offset-1 col-sm-offset-2 col-xs-12">
                        <p class="count">12</p>
                        <p class="count-descr">
                            key
                            <br>
                            <strong>projects</strong>
                        </p>
                    </div>
                    <div class="col-xl-2 col-md-2 col-sm-4 col-xs-12">
                        <p class="count">5</p>
                        <p class="count-descr">
                            project
                            <br>
                            <strong>members</strong>
                        </p>
                    </div>
                    <div class="col-xl-2 col-md-2 col-sm-4 col-xs-12">
                        <p class="count">4</p>
                        <p class="count-descr">
                            contact
                            <br>
                            <strong>languages</strong>
                        </p>
                    </div>
                    <div class="col-xl-2 col-md-2 col-sm-4 col-xs-12">
                        <p class="count">24
                            <span>h</span>
                        </p>
                        <p class="count-descr">
                            operation
                            <br>
                            <strong>time</strong>
                        </p>
                    </div>
                    <div class="col-xl-2 col-md-2 col-sm-4 col-xs-12">
                        <p class="count">100
                            <span>%</span>
                        </p>
                        <p class="count-descr">
                            business
                            <br>
                            <strong>integrity</strong>
                        </p>
                    </div>
                </div>
                <div class="button-border-dark">
                    <a class="button-small-dark" href="/about">
                        <strong>Call</strong> us now.
                    </a>
                </div>
            </div>
        </div>

        <% include ./partials/footer %>