<% include ./partials/header %>

    <div id='fp-js'>
        <div class='fp-js dark-section'>
            <h2 class="section-header">Handcrafted by web geeks.</h2>
            <p class="section-sub-header about-sub-header">to establish your perpetual business</p>
            <div class="container-hive">
                <div class="row">
                    <div class="about-border">
                        <hr>
                    </div>
                    <div class="about-info-block">
                        <p class="about-info">
                            <strong>Hive Studio</strong> is a new generation and talented web studio, specializing in producing high-quality
                            products at affordable prices. We believe that quality websites with correct SEO optimization
                            serve customers better and act as a valuable investment for the client. We are glad to help your
                            business to increase the actual cash flow. Striving to create something interesting and new for
                            our clients, Hive understands that the best client relationships are based on an exceptional
                            product.
                        </p>
                        <p class="about-info">
                            That's why we offer a full service for each website we created. Our service includes an expertly technical support, hosting
                            and unique website domain fees, digital design and SEO. We can speak your language: Russian,
                            English, German and Ukrainian.
                        </p>
                    </div>
                    <div>
                        <a href="#about" class="scroll-down">
                            <img class="scroll-down-icon" src="/static/images/elements/angle-down.svg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class='fp-js white-section'>
            <div class="section-content container-fluid">
                <h2 class="section-header">Team structure.</h2>
                <div class="row">
                    <div class="col-xl-2 col-md-2 col-md-offset-1 col-sm-offset-2 col-xs-12">
                        <img class="team-img" src="/static/images/blog/post-1.jpg">
                    </div>
                    <div class="col-xl-2 col-md-2 col-sm-4 col-xs-12">
                        <img class="team-img" src="/static/images/blog/post-1.jpg">
                    </div>
                    <div class="col-xl-2 col-md-2 col-sm-4 col-xs-12">
                        <img class="team-img" src="/static/images/blog/post-1.jpg">
                    </div>
                    <div class="col-xl-2 col-md-2 col-sm-4 col-xs-12">
                        <img class="team-img" src="/static/images/blog/post-1.jpg">
                    </div>
                    <div class="col-xl-2 col-md-2 col-sm-4 col-xs-12">
                        <img class="team-img" src="/static/images/blog/post-1.jpg">
                    </div>
                </div>
            </div>
        </div>

        <% include ./partials/footer %>