
    
    <div class="container">
            <div class="row">
                <hr class="estimation-border">
            </div>
        </div>
        <h2 class="calc-head">
            project quote calculator
        </h2>
        <div class="container calc-parameters">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <p class="calc-col-1 design">
                        design
                    </p>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <p class="calc-row-1">
                        Stylish
                    </p>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <p class="calc-row-1">
                        High-end
                    </p>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <p class="calc-row-1">
                        World class
                    </p>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                    <p class="calc-col-1 design-full">
                        design
                    </p>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <p class="calc-row-2">
                        <label>
                            <input checked="" name="q1" type="radio" />
                        </label>
                    </p>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <p class="calc-row-2">
                        <label>
                            <input checked="" name="q1" type="radio" />
                        </label>
                    </p>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <p class="calc-row-2">
                        <label>
                            <input checked="" name="q1" type="radio" />
                        </label>
                    </p>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row col-md-12 col-sm-6 col-xs-12">
                <div class="col-md-2">
                    <p class="calc-col-1">
                    </p>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <p class="calc-col-1">
                        copywriting
                    </p>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <p class="calc-row-1">
                        <input type="checkbox" id="switch1" />
                        <label2 for="switch1">Toggle</label2>
                    </p>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <p class="calc-col-3">
                        No (Yes)
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="calc-row-1">
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="calc-col-1">
                    </p>
                </div>
            </div>
            <div class="row col-md-12 col-sm-6 col-xs-12">
                <div class="col-md-2">
                    <p class="calc-col-1">
                    </p>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <p class="calc-col-1">
                        seo support
                    </p>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <p class="calc-row-1">
                        <input type="checkbox" id="switch2" />
                        <label2 for="switch2">Toggle</label2>
                    </p>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <p class="calc-col-3">
                        No (Yes)
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="calc-row-1">
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="calc-col-1">
                    </p>
                </div>
            </div>
            <div class="row col-md-12 col-sm-6 col-xs-12">
                <div class="col-md-2">
                    <p class="calc-col-1">
                    </p>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <p class="calc-col-1">
                        database
                    </p>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <p class="calc-row-1">
                        <input type="checkbox" id="switch3" />
                        <label2 for="switch3">Toggle</label2>
                    </p>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <p class="calc-col-3">
                        No (Yes)
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="calc-row-1">
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="calc-col-1">
                    </p>
                </div>
            </div>
            <div class="row col-md-12 col-sm-6 col-xs-12">
                <div class="col-md-2">
                    <p class="calc-col-1">
                    </p>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <p class="calc-col-1">
                        cms
                    </p>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <p class="calc-row-1">
                        <input type="checkbox" id="switch4" />
                        <label2 for="switch4">Toggle</label2>
                    </p>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <p class="calc-col-3">
                        No (Yes)
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="calc-row-1">
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="calc-col-1">
                    </p>
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="col-md-2">
                    <p class="calc-col-1">
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="calc-row-1">
                    </p>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <p class="calc-row-7">
                        Wordpress
                    </p>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <p class="calc-row-7">
                        Joomla
                    </p>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <p class="calc-row-7">
                        Custom
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="calc-col-1">
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <p class="calc-col-1">
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="calc-row-1">
                    </p>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <p class="calc-row-8">
                        <label>
                            <input checked="" name="q2" type="radio" />
                        </label>
                    </p>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <p class="calc-row-8">
                        <label>
                            <input checked="" name="q2" type="radio" />
                        </label>
                    </p>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <p class="calc-row-8">
                        <label>
                            <input checked="" name="q2" type="radio" />
                        </label>
                    </p>
                </div>
                <div class="col-md-2">
                    <p class="calc-col-1">
                    </p>
                </div>
            </div>
            <hr class="estimation-border">
            <div class="row pricing-block">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <button class="calc-row-9 pricing pricing-mobile">
                        See Pricing
                    </button>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p class="calc-row-9 price pricing-mobile">
                        $800
                    </p>
                </div>
            </div>
        </div>
    