<% include ./partials/header %>

    <div id='fp-js'>

        <div class='fp-js white-section'>
            <h2 class="section__main-title">Contacts.</h2>
            <div class="container center">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 footer__social-black">
                    <a href="https://www.facebook.com/groups/875659312616598/" title="Facebook" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <p class="contacts__contacts-title">
                        <strong>Call us now.</strong>
                        <br> +380 (97) 409 23 03
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 footer__social-black">
                    <a href="#" title="Behance" target="_blank">
                        <i class="fab fa-behance"></i>
                    </a>
                    <p class="contacts__contacts-title">
                        <strong>Our address.</strong>
                        <br> 63, Hryhoriia Andriushchenka St.
                        <br> Kyiv, Ukraine
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 footer__social-black">
                    <a href="https://www.linkedin.com/company/18444275/" title="LinkedIn" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <p class="contacts__contacts-title">
                        <strong>Email.</strong>
                        <br> info@hive-studio.net
                    </p>
                </div>
                <div class="col-xl-12 col-md-12 col-sm-8 col-xs-12 form-block-2">
                    <form method="post" action="#" id="form" role="form" class="form">
                        <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form__field-block">
                                <input type="text" name="direction" class="contacts__field-model" placeholder="Your business direction" maxlength="100">
                            </div>
                            <div class="form__field-block">
                                <input type="text" name="first__name" class="contacts__field-model" placeholder="First name" maxlength="100">
                            </div>
                            <div class="form__field-block">
                                <input type="text" name="last__name" class="contacts__field-model" placeholder="Last name" maxlength="100">
                            </div>
                            <div class="form__field-block">
                                <input type="text" name="phone" class="contacts__field-model" placeholder="Telephone" maxlength="100">
                            </div>
                            <div class="form__field-block">
                                <input type="text" name="email" class="contacts__field-model" placeholder="E-mail" maxlength="100">
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12 form__field-block">
                            <textarea name="text" id="text" rows="5" placeholder="Text" maxlength="400"></textarea>
                        </div>
                        <div class="form__field-block">
                            <input class="portfolio__submit-btn" type="submit" value="Send Request">
                        </div>
                    </form>
                </div>
            </div>
            
        </div>

        <div class='fp-js dark-section'>
            <h2 class="section__main-title">Location.</h2>
            <div class="container">
                <div class="row">
                    <div class="border-box-map">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/typeit.min.js"></script>
    <script type="text/javascript" src="/static/js/scrolloverflow.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fullpage.js"></script>
    <script type="text/javascript" src="/static/js/scripts.js"></script>
    <script type="text/javascript" src="/static/js/lang-cookie.js"></script>
    <script type="text/javascript" src="/static/js/contact-map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZsDkJFLS0b59q7cmW0EprwfcfUA8d9dg&callback=initMap&language=<%= lang %>&region=UA"></script>

    </body>

    </html>
