<% include ./partials/header %>
  <div id='fp-js'>
    <div class='fp-js dark-section npddng'>
      <canvas id="main-bg"></canvas>
      <div class="site_title">
        <h1>
          <span class='hive-logo'>HIVE</span>
          <br>
          <strong>
            <span id="title"></span>
          </strong>
          <br>
          <strong>STUDIO</strong>
        </h1>
        <span class="type-it subtitle"></span>
      </div>
      <div class="local-scroll">
        <a href="#about" class="scroll-down">
          <img class="scroll-down-icon" src="/static/images/elements/angle-down.svg" />
        </a>
      </div>
    </div>
    <div class='fp-js white-section'>
      <div class="section-content">
        <h2 class="section-header container-fluid">Take the
          <span>HIVE</span> five.</h2>
        <div class="row">
          <div class="col-md-2 col-md-offset-1">
            <p class="count">12</p>
            <p class="count-descr">key
              <br>
              <span>projects</span>
            </p>
          </div>
          <div class="col-md-2">
            <p class="count">5</p>
            <p class="count-descr">projects
              <br>
              <span>members</span>
            </p>
          </div>
          <div class="col-md-2">
            <p class="count">4</p>
            <p class="count-descr">contact
              <br>
              <span>languages</span>
            </p>
          </div>
          <div class="col-md-2">
            <p class="count">24<span>h</span>
            </p>
            <p class="count-descr">operation
              <br>
              <span>time</span>
            </p>
          </div>
          <div class="col-md-2">
            <p class="count">100<span>%</span></p>
            <p class="count-descr">business
              <br>
              <span>integrity</span>
            </p>
          </div>
        </div>
        <h3 class="section-header container-fluid">Tech. stack</h3>
        <div class="row">
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-3 right-border">
                               <img class="grey" src="/static/images/brands/mongo.png">
                    </div>
                    <div class="col-xs-3 right-border">
                        <img class="grey" src="/static/images/brands/express.png">
                    </div>
                    <div class="col-xs-3 right-border">
                        <img class="grey" src="/static/images/brands/angular.png">
                    </div>
                    <div class="col-xs-3 right-border">
                        <img class="grey" src="/static/images/brands/node.png">
                    </div>
              </div>
        </div> 
        <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-3 right-border">
                        <img class="grey" src="/static/images/brands/linux.png">
                    </div>
                    <div class="col-xs-3 right-border">
                        <img class="grey" src="/static/images/brands/apache.png">
                    </div>
                    <div class="col-xs-3 right-border">
                        <img class="grey" src="/static/images/brands/mysql.png">
                    </div>
                    <div class="col-xs-3">
                        <img class="grey" src="/static/images/brands/php.png">
                    </div>
              </div>
             
        </div>
        <div>
            <a class="button" href="#">Who <span class="bold">we</span> are?</a>
          </div>
        </div>
      </div>
    </div>

    <% include ./partials/footer %>