<% include ./partials/header %>
  <div id='fp-js'>
    <div class='fp-js dark-section'>
      <canvas id="main-bg"></canvas>
      <div class="site_title">
        <h1><span class='hive-logo'>HIVE</span>
          <br>
          <strong>
            <span id="title"></span>
          </strong>
          <br>
          <strong>STUDIO</strong>
        </h1>
        <span class="type-it subtitle"></span>
      </div>
      <div class="local-scroll">
        <a href="#about" class="scroll-down">
          <img class="scroll-down-icon" src="/static/images/elements/angle-down.svg" />
        </a>
      </div>
    </div>
    <div class='fp-js white-section'>
     
      test
    </div>
  </div>
  <% include ./partials/footer %>