<% include ./partials/header %>
  <div id='fp-js'>
    <div class='fp-js dark-section npddng'>
      <canvas id="main-bg"></canvas>
      <div class="site_title">
        <h1>
          <span>HIVE</span>
          <br>
          <strong>
            <span id="title"></span>
            <br> STUDIO
          </strong>
        </h1>
        <span class="type-it subtitle"></span>
      </div>
      <div>
        <a href="#about" class="scroll-down">
          <img class="scroll-down-icon" src="/static/images/elements/angle-down.svg" />
        </a>
      </div>
    </div>
    <div class='fp-js white-section'>
      <div class="section-content">
        <h2 class="section-header container-fluid">Take the
          <span>HIVE</span> five.</h2>
        <div class="row">
          <div class="col-md-2 col-md-offset-1">
            <p class="count">12</p>
            <p class="count-descr">key
              <br>
              <span>projects</span>
            </p>
          </div>
          <div class="col-md-2">
            <p class="count">5</p>
            <p class="count-descr">projects
              <br>
              <span>members</span>
            </p>
          </div>
          <div class="col-md-2">
            <p class="count">4</p>
            <p class="count-descr">contact
              <br>
              <span>languages</span>
            </p>
          </div>
          <div class="col-md-2">
            <p class="count">24
              <span>h</span>
            </p>
            <p class="count-descr">operation
              <br>
              <span>time</span>
            </p>
          </div>
          <div class="col-md-2">
            <p class="count">100
              <span>%</span>
            </p>
            <p class="count-descr">business
              <br>
              <span>integrity</span>
            </p>
          </div>
        </div>
        <div class="container-tech">
          <h3 class="section-header-2 container-fluid">Tech. stack</h3>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="row">
                <div class="col-xs-3 right-border">
                  <img class="grey" src="/static/images/brands/mongo.png">
                </div>
                <div class="col-xs-3 right-border">
                  <img class="grey" src="/static/images/brands/express.png">
                </div>
                <div class="col-xs-3 right-border">
                  <img class="grey" src="/static/images/brands/angular.png">
                </div>
                <div class="col-xs-3 right-border">
                  <img class="grey" src="/static/images/brands/node.png">
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="row">
                <div class="col-xs-3 right-border">
                  <img class="grey" src="/static/images/brands/linux.png">
                </div>
                <div class="col-xs-3 right-border">
                  <img class="grey" src="/static/images/brands/apache.png">
                </div>
                <div class="col-xs-3 right-border">
                  <img class="grey" src="/static/images/brands/mysql.png">
                </div>
                <div class="col-xs-3">
                  <img class="grey" src="/static/images/brands/php.png">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="button-border button-border-white">
          <a class="button button-white" href="#">Who
            <strong>we</strong> are?</a>
        </div>
      </div>
    </div>
    <div class='fp-js dark-section'>
      <div class="section-content">
        <h2 class="section-header container-fluid">Our services.</h2>
        <div class="container-hive">
          <div class="row">
            <div class="col-md-3 slide-up four col">
              <div class="box">
                <div class="original">
                  <h3 class="num-service">#1</h3>
                  <h3 class="name-service">System Maintenance & Hosting</h3>
                </div>
                <div class="overlay">
                  The stability and speed of any web resource is based, first of all, on its technical component. High-quality system administration
                  with high-end hardware will guarantee you a 24-hour system uptime with efficient load distribution. We
                  work in a wide range of services, designing local network and system architecture, customizing equipment
                  and providing multi-cluster SSD hosting. Our Hive admins will ensure fast and safe migration of your web
                  service and its further round-the-clock administration.
                  <div class="button-border button-border-dark">
                    <a class="button button-dark" href="/blog">See pricing
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 slide-up four col">
              <div class="box">
                <div class="original">
                  <h3 class="num-service">#2</h3>
                  <h3 class="name-service">Fullstack Web Development</h3>
                </div>
                <div class="overlay">
                  Development of new web services on a turn-key basis, functional expansion of existing project and complex website modernization.
                  For new projects our studio offers ready-made digital products that contain all the necessary functionalities
                  and are ready for customization. If you need to add some functionality to your resource, implement new
                  design solutions or fix existing errors, our team of Hive developers is always ready to develop the most
                  effective solution for your specific project.
                  <div class="button-border button-border-dark">
                    <a class="button button-dark" href="/blog">See pricing
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 slide-up four col">
              <div class="box">
                <div class="original">
                  <h3 class="num-service">#3</h3>
                  <h3 class="name-service">Identity Design & Branding</h3>
                </div>
                <div class="overlay">
                  Since the identity of business creates a first impression on potential customers, it is one of the most important aspects
                  of branding. High-quality brand changes consumers' perceptions of seeing or hearing about your company.
                  The team of Hive designers will create an effective and memorable branding, integrated with the latest
                  web design. Our branding kit includes both a graphic and a polygraph component that maximizes the scope
                  of its use in a marketing campaign.
                  <div class="button-border button-border-dark">
                    <a class="button button-dark" href="/blog">See pricing
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 slide-up four col">
              <div class="box">
                <div class="original">
                  <h3 class="num-service">#4</h3>
                  <h3 class="name-service">SEO & Digital Marketing</h3>
                </div>
                <div class="overlay">
                  Even the best market offers require advertising and promotion, especially at the time the company enters a new market. Search
                  engine promotion is aimed at improving the visibility of a website in the categories for the target audience,
                  which is subsequently converted into clients. Our SEO is supported by Digital Marketing, which uses all
                  the complex of digital channels through which the company brand is promoted, providing to you the highest
                  ranks on market.
                  <div class="button-border button-border-dark">
                    <a class="button button-dark" href="/blog">See pricing
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='fp-js white-section'>

    </div>
    <div class='fp-js dark-section'>
      <div class="container-hive">
        <h2 class="section-header-cta">Let us make your website easy on the eyes.</h2>

        <div class="row">
          <div class="button-border button-border-dark">
            <a class="button button-dark" href="#">Order
              <strong>now</strong>.
            </a>
          </div>
          <div class="button-border button-border-dark">
            <a class="button button-dark" href="#">Download
              <strong>presentation</strong>.
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class='fp-js white-section'>
      <div class="container-hive">
        <h2 class="section-header-news">Latest news.</h2>
        <div class="row">
          <div class="col-md-4 blog-card">
            <img class="blog-img" src="/static/images/blog/post-1.jpg">
            <div class="blog-detalis">
              <p class="blog-date">Feb 07</p>
              <p class="blog-author">Dmytro Kuznets</p>
            </div>
            <h3 class="blog-head">1 mln $ have been invested in Ukrainian web production</h3>
            <p class="blog-info">The stability and speed of any web resource is based, first of all, on its technical component. High-quality
              system administration with high-end hardware will guarantee you a 24-hour system uptime.</p>
          </div>
          <div class="col-md-4 blog-card">
            <img class="blog-img" src="/static/images/blog/post-1.jpg">
            <div class="blog-detalis">
              <p class="blog-date">Feb 07</p>
              <p class="blog-author">Dmytro Kuznets</p>
            </div>
            <h3 class="blog-head">1 mln $ have been invested in Ukrainian web production</h3>
            <p class="blog-info">The stability and speed of any web resource is based, first of all, on its technical component. High-quality
              system administration with high-end hardware will guarantee you a 24-hour system uptime.</p>
          </div>
          <div class="col-md-4 blog-card">
            <img class="blog-img" src="/static/images/blog/post-1.jpg">
            <div class="blog-detalis">
              <p class="blog-date">Feb 07</p>
              <p class="blog-author">Dmytro Kuznets</p>
            </div>
            <h3 class="blog-head">1 mln $ have been invested in Ukrainian web production</h3>
            <p class="blog-info">The stability and speed of any web resource is based, first of all, on its technical component. High-quality
              system administration with high-end hardware will guarantee you a 24-hour system uptime.</p>
          </div>
        </div>
        <div class="button-border button-border-white">
          <a class="button button-white" href="/blog">Find
            <strong>more</strong>
            articles
          </a>
        </div>
      </div>
    </div>


    <% include ./partials/footer %>