<% include ./partials/header %>

    <!-- About Section -->
    <section class="page-section about-section" id="about" data-background="/static/images/full-width-images/section-bg-about.svg">
        <div class="container">
            <div class="col-md-5">
                <img src="/static/images/about.svg" alt="" style="margin-top: -100px;" />
            </div>
            <div class="moto-about col-md-7">
                <h1 class="hs-line-mp text-right">
                    We are passionate about three key principles
                </h1>
                <h2 class="hs-line-p text-right">
                    SMARTER
                </h2>
                <h2 class="hs-line-p1 text-right">
                    FASTER
                </h2>
                <h2 class="hs-line-p2 text-right">
                    BETTER
                </h2>
            </div>
        </div>
    </section>
    <!-- End About Section -->

    <!-- Services Section -->
    <section class="page-section pt-0 pb-0 banner-section bg-dark" data-background="/static/images/full-width-images/section-bg-2.jpg">
        <h2 class="section-title font-alt mb-70 mb-sm-40 team-section">
            team
        </h2>
        <div class="container team-3">
            <div class="col-cs-5 work-item mix photography">
                <h1 class="hs-line-8 font-alt mb-xs-30 text-center">
                    Dmytro Kuznets
                </h1>
                <a href="/static/images/team/team-1.jpg" class="work-lightbox-link mfp-image">
                    <div class="work-img">
                        <img src="/static/images/team/team-1.jpg" alt="Work" />
                    </div>
                    <div class="work-intro">
                        <h3 class="work-title">Lead Designer</h3>
                    </div>
                </a>
            </div>
            <div class="col-cs-5 work-item mix photography">
                <h1 class="hs-line-8 font-alt mb-xs-30 text-center">
                    Alex Bukhanenko
                </h1>
                <a href="/static/images/team/team-1.jpg" class="work-lightbox-link mfp-image">
                    <div class="work-img">
                        <img src="/static/images/team/team-1.jpg" alt="Work" />
                    </div>
                    <div class="work-intro">
                        <h3 class="work-title">Front-End Developer</h3>
                    </div>
                </a>
            </div>
            <div class="col-cs-5 work-item mix photography">
                <h1 class="hs-line-8 font-alt mb-xs-30 text-center">
                    Anton Fandul
                </h1>
                <a href="/static/images/team/team-1.jpg" class="work-lightbox-link mfp-image">
                    <div class="work-img">
                        <img src="/static/images/team/team-1.jpg" alt="Work" />
                    </div>
                    <div class="work-intro">
                        <h3 class="work-title">Back-End Developer</h3>
                        <div class="work-descr">
                            Team Lead
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-cs-5 work-item mix photography">
                <h1 class="hs-line-8 font-alt mb-xs-30 text-center">
                    Oleh Kuznets
                </h1>
                <a href="/static/images/team/team-1.jpg" class="work-lightbox-link mfp-image">
                    <div class="work-img">
                        <img src="/static/images/team/team-1.jpg" alt="Work" />
                    </div>
                    <div class="work-intro">
                        <h3 class="work-title">Front-End Developer</h3>
                    </div>
                </a>
            </div>
            <div class="col-cs-5 work-item mix photography">
                <h1 class="hs-line-8 font-alt mb-xs-30 text-center">
                    Anastasiia Kuznets
                </h1>
                <a href="/static/images/team/team-1.jpg" class="work-lightbox-link mfp-image">
                    <div class="work-img">
                        <img src="/static/images/team/team-1.jpg" alt="Work" />
                    </div>
                    <div class="work-intro">
                        <h3 class="work-title">SEO Optimizator</h3>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <!-- End Service Item -->

    <section class="page-section" id="services">
        <div class="container relative">
            <div class="title-services text-center  ">
                <h2 class="section-title services-head text-center">
                    Services
                </h2>
            </div>

            <div class="col-md-2 service-section">
                <img src="/static/images/services.svg" alt="" width="110px" id="img-services" />
            </div>
            <div class="col-md-10 services-all">
                <div class="col-md-4 service-1-1">
                    <h1 class="service-1 text-left">
                        #1
                    </h1>
                    <h1 class="service-1a text-left">
                        Analysis
                    </h1>
                </div>
                <div class="col-md-4 service-2-2">
                    <h1 class="service-1 text-left">
                        #2
                    </h1>
                    <h1 class="service-1a text-left">
                        Mockup & Prototype
                    </h1>
                </div>
                <div class="col-md-4 service-3-3">
                    <h1 class="service-1 text-left">
                        #3
                    </h1>
                    <h1 class="service-1a text-left">
                        Web Development
                    </h1>
                </div>
                <div class="col-md-4 service-4-4">
                    <h1 class="service-1 text-left">
                        #4
                    </h1>
                    <h1 class="service-1a text-left">
                        Maintenance
                    </h1>
                </div>
                <div class="col-md-4 service-5-5">
                    <h1 class="service-1 text-left">
                        #5
                    </h1>
                    <h1 class="service-1a text-left">
                        Updates
                    </h1>
                </div>
                <div class="col-md-4 service-6-6">
                    <h1 class="service-1 text-left">
                        #6
                    </h1>
                    <h1 class="service-1a text-left">
                        Marketing & Branding
                    </h1>
                </div>
            </div>

        </div>
    </section>
    <!-- End Services Section -->

    <!-- Call Action Section -->
    <section class="page-section pt-0 pb-0 banner-section bg-dark" data-background="/static/images/full-width-images/section-bg-2.jpg">
        <div class="container relative">

            <div class="row">

                <div class="col-sm-6">

                    <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                        <div class="banner-content">
                            <h3 class="banner-heading font-alt">Wanna get an amazing website?</h3>
                            <div class="banner-decription">
                                Push the button and make you dream come true
                            </div>
                            <br>
                            <div class="svg-wrapper">
                                <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
                                    <rect class="shape" height="60" width="320" />
                                </svg>
                                <div class="text">
                                    <a href="#contact" class="btn-website">Lets talk</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6 banner-image wow fadeInUp" data-wow-duration="1.2s">
                    <img src="/static/images/promo-1.png" alt="" />
                </div>

            </div>

        </div>
    </section>
    <!-- End Call Action Section -->


    <!-- Portfolio Section -->
    <section class="page-section pb-0" id="portfolio">
        <div class="relative">

            <h2 class="section-title font-alt mb-70 mb-sm-40 portfolio-section" style="margin-top: -30px">
                Portfolio
            </h2>

            <!-- Works Grid -->
            <ul class="works-grid work-grid-3 work-grid-gut clearfix font-alt hover-white hide-titles" id="work-grid">

                <!-- Work Item (Lightbox) -->
                <li class="work-item mix photography">
                    <a href="http://dmcc.company" class="work-lightbox-link mfp-image">
                        <div class="work-img">
                            <img src="/static/images/portfolio/dmcc.svg" alt="Work" href="http://dmcc.company" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Portrait</h3>
                            <div class="work-descr">
                                Lightbox
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->

                <!-- Work Item (External Page) -->
                <li class="work-item mix branding design">
                    <a href="http://www.ostinlaw.com" class="work-ext-link">
                        <div class="work-img">
                            <img class="work-img" src="/static/images/portfolio/ostin.png" alt="Work" href="http://www.ostinlaw.com" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Vase 3D</h3>
                            <div class="work-descr">
                                External Page
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->

                <!-- Work Item (External Page) -->
                <li class="work-item mix branding">
                    <a href="http://hive-gaming.ga" class="work-ext-link">
                        <div class="work-img">
                            <img class="work-img" src="/static/images/portfolio/hive.svg" alt="Work" href="http://hive-gaming.ga" />
                        </div>
                        <div class="work-intro">
                            <h3 class="work-title">Boy in T-shirt</h3>
                            <div class="work-descr">
                                External Page
                            </div>
                        </div>
                    </a>
                </li>
                <!-- End Work Item -->
            </ul>
            <!-- End Works Grid -->

        </div>
    </section>


    <% include ./partials/footer %>