<% include ./partials/header %>
  <div id='fp-js'>
    <div class='fp-js dark-section npddng'>
      <canvas id="main-bg"></canvas>
      <div class="site_title">
        <h1>
          <span class='hive-logo'>HIVE</span>
          <br>
          <strong>
            <span id="title"></span>
          </strong>
          <br>
          <strong>STUDIO</strong>
        </h1>
        <span class="type-it subtitle"></span>
      </div>
      <div class="local-scroll">
        <a href="#about" class="scroll-down">
          <img class="scroll-down-icon" src="/static/images/elements/angle-down.svg" />
        </a>
      </div>
    </div>
    <div class='fp-js white-section'>
      <div class="section-content">
        <h2 class="section-header container-fluid">Take the
          <span>HIVE</span> five.</h2>
        <div class="row">
          <div class="col-md-2 col-md-offset-1">
            <p class="count">12</p>
            <p class="count-descr">key
              <br>
              <span>projects</span>
            </p>
          </div>
          <div class="col-md-2">
            <p class="count">5</p>
            <p class="count-descr">projects
              <br>
              <span>members</span>
            </p>
          </div>
          <div class="col-md-2">
            <p class="count">4</p>
            <p class="count-descr">contact
              <br>
              <span>languages</span>
            </p>
          </div>
          <div class="col-md-2">
            <p class="count">24
              <span>h</span>
            </p>
            <p class="count-descr">operation
              <br>
              <span>time</span>
            </p>
          </div>
          <div class="col-md-2">
            <p class="count">100
              <span>%</span>
            </p>
            <p class="count-descr">business
              <br>
              <span>integrity</span>
            </p>
          </div>
        </div>
        <h3 class="section-header-2 container-fluid">Tech. stack</h3>
        <div class="container-tech">
          <div class="row">
            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-3 right-border">
                  <img class="grey" src="/static/images/brands/mongo.png">
                </div>
                <div class="col-xs-3 right-border">
                  <img class="grey" src="/static/images/brands/express.png">
                </div>
                <div class="col-xs-3 right-border">
                  <img class="grey" src="/static/images/brands/angular.png">
                </div>
                <div class="col-xs-3 right-border">
                  <img class="grey" src="/static/images/brands/node.png">
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="row">
                <div class="col-xs-3 right-border">
                  <img class="grey" src="/static/images/brands/linux.png">
                </div>
                <div class="col-xs-3 right-border">
                  <img class="grey" src="/static/images/brands/apache.png">
                </div>
                <div class="col-xs-3 right-border">
                  <img class="grey" src="/static/images/brands/mysql.png">
                </div>
                <div class="col-xs-3">
                  <img class="grey" src="/static/images/brands/php.png">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <a class="button" href="#">Who
            <span class="bold">we</span> are?</a>
        </div>
      </div>
    </div>
    <div class='fp-js dark-section'>
      <div class="section-content">
        <h2 class="section-header container-fluid">Our services.</h2>
        <div class="container-hive">
          <div class="row">
            <div class="col-xs-3">
              <h3 class="num-service">#1</h3>
              <h3 class="name-service">System Maintenance & Hosting</h3>
              <p class="description-service">The stability and speed of any web resource is based, first of all, on its technical component. High-quality
                system administration with high-end hardware will guarantee you a 24-hour system uptime with efficient load
                distribution. We work in a wide range of services, designing local network and system architecture, customizing
                equipment and providing multi-cluster SSD hosting. Our Hive admins will ensure fast and safe migration of
                your web service and its further round-the-clock administration.
              </p>
              <div class="button-block-3">
                <a class="button-sect-3" href="#">See pricing</a>
              </div>
            </div>
            <div class="col-xs-3">
              <h3 class="num-service">#2</h3>
              <h3 class="name-service">System Maintenance & Hosting</h3>
              <p class="description-service">The stability and speed of any web resource is based, first of all, on its technical component. High-quality
                system administration with high-end hardware will guarantee you a 24-hour system uptime with efficient load
                distribution. We work in a wide range of services, designing local network and system architecture, customizing
                equipment and providing multi-cluster SSD hosting. Our Hive admins will ensure fast and safe migration of
                your web service and its further round-the-clock administration.
              </p>
              <div class="button-block-3">
                <a class="button-sect-3" href="#">See pricing</a>
              </div>
            </div>
            <div class="col-xs-3">
              <h3 class="num-service">#3</h3>
              <h3 class="name-service">System Maintenance & Hosting</h3>
              <p class="description-service">The stability and speed of any web resource is based, first of all, on its technical component. High-quality
                system administration with high-end hardware will guarantee you a 24-hour system uptime with efficient load
                distribution. We work in a wide range of services, designing local network and system architecture, customizing
                equipment and providing multi-cluster SSD hosting. Our Hive admins will ensure fast and safe migration of
                your web service and its further round-the-clock administration.
              </p>
              <div class="button-block-3">
                <a class="button-sect-3" href="#">See pricing</a>
              </div>
            </div>
            <div class="col-xs-3">
              <h3 class="num-service">#4</h3>
              <h3 class="name-service">System Maintenance & Hosting</h3>
              <p class="description-service">The stability and speed of any web resource is based, first of all, on its technical component. High-quality
                system administration with high-end hardware will guarantee you a 24-hour system uptime with efficient load
                distribution. We work in a wide range of services, designing local network and system architecture, customizing
                equipment and providing multi-cluster SSD hosting. Our Hive admins will ensure fast and safe migration of
                your web service and its further round-the-clock administration.
              </p>
              <div class="button-block-3">
                <a class="button-sect-3" href="#">See pricing</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='fp-js white-section'>
      
    </div>
    <div class='fp-js dark-section'>
      <div class="container-hive">
        <h2 class="section-header-cta">Let us make your website easy on the eyes.</h2>
        <div class="button-block-cta">
          <div class="row">
            <p class="btn-cta">
              <a class="button" href="#">Order now</a>
            </p>
            <p class="btn-cta">
              <a class="button" href="#">Download presentation</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class='fp-js white-section'>
      <div class="container-hive">
        <h2 class="section-header-news">Latest news.</h2>
        <div class="row">
          <div class="col-md-4 blog-card">
            <img class="blog-img" src="/static/images/blog/post-1.jpg">
            <div class="blog-detalis">
              <p class="blog-date">Feb 07</p>
              <p class="blog-author">Dmytro Kuznets</p>
            </div>
            <h3 class="blog-head">1 mln $ have been invested in Ukrainian web production</h3>
            <p class="blog-info">The stability and speed of any web resource is based, first of all, on its technical component. High-quality
              system administration with high-end hardware will guarantee you a 24-hour system uptime.</p>
          </div>
          <div class="col-md-4 blog-card">
            <img class="blog-img" src="/static/images/blog/post-1.jpg">
            <div class="blog-detalis">
              <p class="blog-date">Feb 07</p>
              <p class="blog-author">Dmytro Kuznets</p>
            </div>
            <h3 class="blog-head">1 mln $ have been invested in Ukrainian web production</h3>
            <p class="blog-info">The stability and speed of any web resource is based, first of all, on its technical component. High-quality
              system administration with high-end hardware will guarantee you a 24-hour system uptime.</p>
          </div>
          <div class="col-md-4 blog-card">
            <img class="blog-img" src="/static/images/blog/post-1.jpg">
            <div class="blog-detalis">
              <p class="blog-date">Feb 07</p>
              <p class="blog-author">Dmytro Kuznets</p>
            </div>
            <h3 class="blog-head">1 mln $ have been invested in Ukrainian web production</h3>
            <p class="blog-info">The stability and speed of any web resource is based, first of all, on its technical component. High-quality
              system administration with high-end hardware will guarantee you a 24-hour system uptime.</p>
          </div>
        </div>
        <div class="news-button-block">
          <div class="row">
            <a class="button" href="#">Find more
              <span class="bold">articles</span>
            </a>
          </div>
        </div>
      </div>
    </div>


    <% include ./partials/footer %>