<% include ./partials/header %>
    <div id='fp-js'>
        <div class='fp-js dark-section'>
            <h2 class="section-header support-page">Support.</h2>
            <div class="container">
                <div class="row">
                    <h3 class="support-sub-header">
                        <strong>FAQ.</strong> find the answer right here right now
                    </h3>
                    <div class="accordion-block">
                        <dl class="accordion">
                            <dt>
                                <a href="#">How to order one of the Hive services/products?</a>
                            </dt>
                            <dd>
                                <ul class="answ-support">
                                    <li>
                                        To order a new Hive product, please go to the
                                        <a href="#">
                                            <strong>Product page</strong>
                                        </a> and fill in
                                        <a href="#">
                                            <strong>Order</strong>
                                        </a> Form for specific products
                                    </li>
                                    <li>
                                        To order a new Hive service or modify existing, please go to the
                                        <a href="#">
                                            <strong>Service page</strong>
                                        </a> and fill in Request Form for specific service
                                    </li>
                                </ul>
                            </dd>
                            <dt>
                                <a href="#">How much does it cost?</a>
                            </dt>
                            <dd>
                                <ul class="answ-support">
                                    <li>
                                        To order a new Hive product, please go to the
                                        <a href="#">
                                            <strong>Product page</strong>
                                        </a> and fill in
                                        <a href="#">
                                            <strong>Order</strong>
                                        </a> Form for specific products
                                    </li>
                                    <li>
                                        To order a new Hive service or modify existing, please go to the
                                        <a href="#">
                                            <strong>Service page</strong>
                                        </a> and fill in Request Form for specific service
                                    </li>
                                </ul>
                            </dd>
                            <dt>
                                <a href="#">In which way can I connect with you?</a>
                            </dt>
                            <dd>
                                <ul class="answ-support">
                                    <li>
                                        To order a new Hive product, please go to the
                                        <a href="#">
                                            <strong>Product page</strong>
                                        </a> and fill in
                                        <a href="#">
                                            <strong>Order</strong>
                                        </a> Form for specific products
                                    </li>
                                    <li>
                                        To order a new Hive service or modify existing, please go to the
                                        <a href="#">
                                            <strong>Service page</strong>
                                        </a> and fill in Request Form for specific service
                                    </li>
                                </ul>
                            </dd>
                            <dt>
                                <a href="#">How can I post my article on your site?</a>
                            </dt>
                            <dd>
                                <ul class="answ-support">
                                    <li>
                                        To order a new Hive product, please go to the
                                        <a href="#">
                                            <strong>Product page</strong>
                                        </a> and fill in
                                        <a href="#">
                                            <strong>Order</strong>
                                        </a> Form for specific products
                                    </li>
                                    <li>
                                        To order a new Hive service or modify existing, please go to the
                                        <a href="#">
                                            <strong>Service page</strong>
                                        </a> and fill in Request Form for specific service
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <p class="redirect-info">Find more information in Hive-Blog.</p>
                    <div class="button-border-white">
                        <a class="button-small-white" href="/about">
                            Go to <strong>Blog</strong>.
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class='fp-js white-section'>
            <div class="container">
                <h3 class="section-header-2">
                    <%=langer.ABOUT_TECH%>.</h3>
                <div class="container-tech tech-stack">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-xs-3 right-border">
                                    <img class="grey" src="/static/images/brands/mongo.png">
                                </div>
                                <div class="col-xs-3 right-border">
                                    <img class="grey" src="/static/images/brands/express.png">
                                </div>
                                <div class="col-xs-3 right-border">
                                    <img class="grey" src="/static/images/brands/angular.png">
                                </div>
                                <div class="col-xs-3 right-border">
                                    <img class="grey" src="/static/images/brands/node.png">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-xs-3 right-border">
                                    <img class="grey" src="/static/images/brands/linux.png">
                                </div>
                                <div class="col-xs-3 right-border">
                                    <img class="grey" src="/static/images/brands/apache.png">
                                </div>
                                <div class="col-xs-3 right-border">
                                    <img class="grey" src="/static/images/brands/mysql.png">
                                </div>
                                <div class="col-xs-3">
                                    <img class="grey" src="/static/images/brands/php.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include ./partials/footer %>