<% include ./partials/header %>
    <div id='fp-js'>
        <div class='fp-js dark-section'>
            <h2 class="section-header support-page">Support.</h2>
            <div class="container">
                <div class="row">
                    <h3 class="support-sub-header">
                        <strong>FAQ</strong> | Find answer in the most frequently
                        <strong>Keys.</strong>
                    </h3>
                    <dl class="accordion">
                        <dt>
                            <a href="#">How to order one of the Hive services or products?</a>
                        </dt>
                        <dd>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit quam lectus, facilisis auctor, ultrices ut, elementum vulputate,
                            nunc.
                        </dd>
                        <dt>
                            <a href="#">How much does it cost?</a>
                        </dt>
                        <dd>
                            Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
                        </dd>
                        <dt>
                            <a href="#">In which way can I connect with you?</a>
                        </dt>
                        <dd>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.
                        </dd>
                        <dt>
                            <a href="#">How can I post my article on your site?</a>
                        </dt>
                        <dd>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class='fp-js white-section'>
            <div class="container">
                <h2 class="section-header support-page">We invite you to immerse in the world of Web Technologies.</h2>
                <div class="hr-sub-cta"></div>
                <div class="button-border button-border-white">
                    <a class="button button-white button-cta-blog" href="../">Go to
                        <strong>Blog</strong>.
                    </a>
                </div>
            </div>
        </div>

        <% include ./partials/footer %>