<% include ./partials/header %>

    <div id='fp-js'>
        <div class='fp-js dark-section'>
            <h2 class="section__main-title">Support.</h2>
            <div class="container">
                <div class="row">
                    <h3 class="support__subtitle-txt">
                        <strong>FAQ.</strong> find the answer right here right now
                    </h3>
                    <div class="accordion__block">
                        <dl class="accordion">
                            <dt>
                                <a href="#">How to order one of the Hive services/products?</a>
                            </dt>
                            <dd>
                                <ul class="accordion__key-txt">
                                    <li>
                                        To order a new Hive product, please go to the
                                        <a href="#">
                                            <strong>Product page</strong>
                                        </a> and fill in
                                        <a href="#">
                                            <strong>Order</strong>
                                        </a> Form for specific products
                                    </li>
                                    <li>
                                        To order a new Hive service or modify existing, please go to the
                                        <a href="#">
                                            <strong>Service page</strong>
                                        </a> and fill in Request Form for specific service
                                    </li>
                                </ul>
                            </dd>
                            <dt>
                                <a href="#">How much does it cost?</a>
                            </dt>
                            <dd>
                                <ul class="accordion__key-txt">
                                    <li>
                                        To order a new Hive product, please go to the
                                        <a href="#">
                                            <strong>Product page</strong>
                                        </a> and fill in
                                        <a href="#">
                                            <strong>Order</strong>
                                        </a> Form for specific products
                                    </li>
                                    <li>
                                        To order a new Hive service or modify existing, please go to the
                                        <a href="#">
                                            <strong>Service page</strong>
                                        </a> and fill in Request Form for specific service
                                    </li>
                                </ul>
                            </dd>
                            <dt>
                                <a href="#">In which way can I connect with you?</a>
                            </dt>
                            <dd>
                                <ul class="accordion__key-txt">
                                    <li>
                                        To order a new Hive product, please go to the
                                        <a href="#">
                                            <strong>Product page</strong>
                                        </a> and fill in
                                        <a href="#">
                                            <strong>Order</strong>
                                        </a> Form for specific products
                                    </li>
                                    <li>
                                        To order a new Hive service or modify existing, please go to the
                                        <a href="#">
                                            <strong>Service page</strong>
                                        </a> and fill in Request Form for specific service
                                    </li>
                                </ul>
                            </dd>
                            <dt>
                                <a href="#">How can I post my article on your site?</a>
                            </dt>
                            <dd>
                                <ul class="accordion__key-txt">
                                    <li>
                                        To order a new Hive product, please go to the
                                        <a href="#">
                                            <strong>Product page</strong>
                                        </a> and fill in
                                        <a href="#">
                                            <strong>Order</strong>
                                        </a> Form for specific products
                                    </li>
                                    <li>
                                        To order a new Hive service or modify existing, please go to the
                                        <a href="#">
                                            <strong>Service page</strong>
                                        </a> and fill in Request Form for specific service
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <p class="support__redirect-info">Find more information in Hive-Blog.</p>
                    <div class="btn-main__border-white">
                        <a class="btn-main__sm-white" href="#">
                            Go to
                            <strong>blog</strong>.
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class='fp-js white-section'>
            <h2 class="section__main-title">
                Tech Stack.</h2>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tech__block">
                        <div class="col-md-3 support__tech-block">
                            <a class="support__tech-letter">M.</a>
                            <span class="support__tech-txt">mongo</span>
                        </div>
                        <div class="col-md-3 support__tech-block">
                            <a class="support__tech-letter">E.</a>
                            <span class="support__tech-txt">express</span>
                        </div>
                        <div class="col-md-3 support__tech-block">
                            <a class="support__tech-letter">A.</a>
                            <span class="support__tech-txt">angular</span>
                        </div>
                        <div class="col-md-3 support__tech-block">
                            <a class="support__tech-letter">N.</a>
                            <span class="support__tech-txt">node</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tech__block">
                        <div class="col-md-3 support__tech-block">
                            <a class="support__tech-letter">L.</a>
                            <span class="support__tech-txt">linux</span>
                        </div>
                        <div class="col-md-3 support__tech-block">
                            <a class="support__tech-letter">A.</a>
                            <span class="support__tech-txt">apache</span>
                        </div>
                        <div class="col-md-3 support__tech-block">
                            <a class="support__tech-letter">M.</a>
                            <span class="support__tech-txt">mysql</span>
                        </div>
                        <div class="col-md-3 support__tech-block">
                            <a class="support__tech-letter">P.</a>
                            <span class="support__tech-txt">php</span>
                        </div>
                    </div>
                    <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row center tech-size-mini">
                            <div class="col-xs-4 col-sm-2 col-md-offset-3 col-lg-1">
                                <img class="grey" src="/static/images/brands/angular.png">
                            </div>
                            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1">
                                <img class="grey" src="/static/images/brands/angular.png">
                            </div>
                            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1">
                                <img class="grey" src="/static/images/brands/angular.png">
                            </div>
                            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1">
                                <img class="grey" src="/static/images/brands/angular.png">
                            </div>
                            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1">
                                <img class="grey" src="/static/images/brands/angular.png">
                            </div>
                            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-1">
                                <img class="grey" src="/static/images/brands/angular.png">
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

        <% include ./partials/footer %>
        