@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900&subset=cyrillic,cyrillic-ext');

/*-----------------------------------------------
                        Init styles
-------------------------------------------------*/
html{
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;
}
html, body{
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
body{
  height: 100%;
  margin: 0;
  padding: 0;
  color: #111;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;    
  -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 400;
  margin: 30px 0 30px 0;
}
@media  only screen and (max-width:600px){
 h1{
  font-size: 7rem;
  line-height: 7rem;
  left: 0;
 }
}
@media  only screen and (min-width:600px){
  h1{
    font-size: 9rem;
    line-height: 10rem;
   }
}
@media  only screen and (min-width:1400px){
  h1{
    font-size: 11rem;
    line-height: 12rem;
   }
}
.site_title{
  top: 20vh;
  left: 10%;
  position: absolute;
  z-index: 2;
}
h2{
  font-size: 5rem;
}
h3{
  font-size: 4rem;
}
h4{
  font-size: 3rem;
}
h5{
  font-size: 2rem;
}
h6{
  font-size: 1.5rem;
}
canvas {
  background: #222;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
}
strong{
  font-weight: 800;
}
ul {
  margin: 0;
  padding: 0;
}
a:focus{
  text-decoration: none;
}
/*----------Navbar----------------*/
ul > li > a {
  position: relative;
  color: #fff;
  text-decoration: none;
}
ul > li > a:hover {
  color: #fff;
  text-decoration: none;
}
ul#navmenu > li > a:before, ul#navmenu > li > ul >li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
ul#navmenu > li > a:hover:before, ul#navmenu > li > ul >li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.hamburger{
  float: right;
  margin: 10px;
}
.hamburger .line{
  width: 40px;
  height: 2px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger:hover{
  cursor: pointer;
}
.hamburger.is-active .line:nth-child(2){
  opacity: 0;
}
.hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}
.hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}
.toggleMenu {
  padding: 10px 15px;
  color: #fff;
  width: 100%;
  display: none;
  background:#000000bd;
  padding: 10px 15px;
  color: #fff;
  margin: 0;
  position: absolute;
  z-index: 20;
}
.nav {
  position: absolute;
  z-index: 20;
  display: block;
  width: 100%;
  list-style: none;
  padding-left: 30px;
   *zoom: 1;
   background:#000000bd;
}
.nav:before,
.nav:after {
  content: " "; 
  display: table; 
}
.nav:after {
  clear: both;
}
.nav ul {
  list-style: none;
  width: 9em;
}
.nav a {
  padding: 20px 30px;
  color:#fff;
}
.nav li {
  position: relative;
}
.nav > li {
  float: left;
}
.nav>li>.parent::after {
  font-family: 'FontAwesome';
  content: "\f107";
  font-family: 'FontAwesome';
}
.nav > li > a {
  display: block;
}
.nav li ul {
  position:absolute;
  left:0;
  overflow:hidden;
  height:0;
  -webkit-transition:height 200ms ease-in;
  -moz-transition:height 200ms ease-in;
  -o-transition:height 200ms ease-in;
  transition:height 200ms ease-in;
}
.nav > li.hover > ul{
  height:300%;
}

.nav li li.hover ul {
  left: 100%;
  top: 0;
}
.nav li li a {
  display: block;
  background: #000000bd;
  position: relative;
  z-index:100;
}
.nav li li li a {
  background:#000000bd;
  z-index:200;
}

@media screen and (max-width: 768px) {
  .nav{
    margin-top: 80px;
    padding-left: 0;
  }
  .active {
      display: block;
  }
  .nav > li {
      float: none;
  } 
  .nav > li.hover > ul {
    width: 100%;
  }
  .nav ul {
    display: block;
  }
 .nav > li.hover > ul , .nav li li.hover ul {
      position: static;
  }
  .logo{
    display: none;
  }
  .mobile-logo{
    float: left;
  }
  ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color:none;
    visibility: hidden;
  }
  ul > li > a:hover:before {
    visibility: visible;
  }
}
.logo{
  float: right !important;
}
.site-logo{
  padding:4px !important;
}

/* HOME section */
.dark-section{
  color: #fff;
}
.site-title{
  white-space: pre-line;
  position: absolute;
  top: 20vh;
  left: 10%;
  line-height: 11rem;
  z-index: 2;
}
.subtitle{
  font-size: 4rem;
}
.scroll-down{
  width: 40px;
  height: 40px;
  margin-left: -20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
}
.scroll-down:before{
  display: block;
  content: "";
  width: 35px;
  height: 35px;
  margin: 0 0 0 -15px;
  position: absolute;
  left: 50%;
  background: #dee8e6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  z-index: 1;
}
.scroll-down:hover:before{
  opacity: .6;
}
.scroll-down-icon{
  width: 25px;
  margin-left: -10px;
  position: absolute;
  left: 50%; 
  -webkit-animation: scroll-down-anim 1s infinite;
  -moz-animation: scroll-down-anim 1s infinite;
  -o-animation: scroll-down-anim 1s infinite;
  animation: scroll-down-anim 1s infinite; 
  z-index: 2;
}
@-webkit-keyframes scroll-down-anim {
  0%{ bottom: 2px; }
  50%{ bottom: 7px; }
  100%{ bottom: 2px; }
}
@-moz-keyframes scroll-down-anim {
  0%{ bottom: 2px; }
  50%{ bottom: 7px; }
  100%{ bottom: 2px; }
}
@-o-keyframes scroll-down-anim {
  0%{ bottom: 2px; }
  50%{ bottom: 7px; }
  100%{ bottom: 2px; }
}
@keyframes scroll-down-anim {
  0%{ bottom: 2px; }
  50%{ bottom: 7px; }
  100%{ bottom: 2px; }
}


/*---------STYLE REASSIGN---------------*/
#fp-nav ul li a span, .fp-slidesNav ul li a span{
  background: #fff; 
}
