@import "font-awesome.min.css";
@import "et-line.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900&subset=cyrillic,cyrillic-ext');

/*------------------------------------------------------------------
CUSTOM STYLES
....................................................................
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
Scrollbar
-------------------------------------------------------------------*/

::-webkit-scrollbar {
    width: 1em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: rgb(41, 41, 41);
  outline: 1px solid rgb(41, 41, 41);
}

/*------------------------------------------------------------------
Start: Home Section (1)
-------------------------------------------------------------------*/

.home-section {
    height: 100vh;
}

.moto {
    margin-left: 20px;
    margin-top: 30vh;
    float: left;
}

.moto-2 {
    margin-top: 40px;
}

.moto-head {
    color: #fff;
    font-size: 7rem;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 60px;
    text-align: left;
    text-transform: uppercase;       
}

.moto-sub {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: left;   
}


/*------------------------------------------------------------------
End: Home Section (1)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
Start: About Section (2)
-------------------------------------------------------------------*/

.about-section {
    background-image: url(/static/images/sections/2-about.svg);
    min-height: 100vh;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.about-img {
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .about-img {
        text-align: center;
    }
}

@media only screen and (max-width: 1200px) {
    .col-i-12 {
        width: 100%;
        text-align: center;
    }
}

.principles-block {
    padding-top: 20vh;    
}

@media only screen and (max-width: 1024px) {
    .principles-block {
        margin-top: -100px;
        padding-top: 0px; 
        margin-bottom: 30px;   
    }
}

.principles-head {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 28px;
    text-align: right;  
    padding-bottom: 50px;  
}

.principles {
    font-size: 6.5rem;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 70px;
    text-align: right;
    text-transform: uppercase;   
}

/*------------------------------------------------------------------
End: About Section (2)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
Start: Team Section (3)
-------------------------------------------------------------------*/

.team-section {
    background-image: url(/static/images/sections/3-team.jpg);
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100vh;
    padding-bottom: 70px;
}

.team-head {
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 10px;
    padding: 40px 0;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.teammate-name {
    margin-top: 0;
    position: relative;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
}

.work-intro{
    width: 100%;
    height: 84px;
    padding: 20px 20px 0 20px;
    -webkit-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    overflow: hidden;
}

.work-title{
    margin: 0 0 6px 0;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}

.work-title-2{    
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 10px;
}

/*------------------------------------------------------------------
End: Team Section (3)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
Start: Sources Section (4)
-------------------------------------------------------------------*/

.sources-section {
    background: #fff;
}

.sources-title {
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 10px;
    padding-top: 30px !important;
    font-weight: 300;
    margin-top: 20px;
    color: #000 !important;
    text-align: center;    
}

@media only screen and (max-width: 768px) {
    .sources-title {
        font-size: 2.5rem;
    }
}

.sources-row {
    margin: 20px 0;
}

.sources-row2 {
    margin: 0 0 50px 0;
}

.brand {
    padding: 10px 10px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.5s;
}

.brand:hover {
    transition: 0.5s;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}

/*------------------------------------------------------------------
End: SourcesSection (4)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
Start: Services Section (5)
-------------------------------------------------------------------*/

.services-section {
    background: #191816;
    height: 120vh;
}

.services-head {
    padding: 15px 0;
    text-align: center;
}

.services-container {
    padding-left: 30px; 
    padding-right: 30px;    
}

.services-main-head {
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 10px;
    padding-top: 40px !important;
    font-weight: 300;
    margin-top: 20px;
    color: #fff !important;
}

.services-sub {
    text-transform: none;
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: -10px;
    color: #fff !important;
}

.service-name {
    font-size: 22px !important;
    text-align: center;
    color: #fff;
}

.service-num {
    font-size: 35px !important;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.service-description {
    color: #fff;
}



  .bigtext {
    display: block;
    overflow: hidden;
    border: 1px solid;
    border-color: #fff;
    padding: 0 5px;
    color: #fff;
    font-size: 14px !important;
  }

  .expand, .contract {
    cursor: pointer;
    font-weight: bold;
    text-align: left;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.5s;
    margin-top: -10px;
  }

  p.expand {
    margin-top: -10px;
  }

  .expand:hover, .contract:hover {
    transition: 0.5s;
    color: #999999;
  }
  
  .hide {
    display: none;
  }

/*------------------------------------------------------------------
End: Services Section (5)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
Start: Web-Light Section (6, 8)
-------------------------------------------------------------------*/

.web-light-container {
    padding-top: 3vh;
    padding-left: 60px; 
    padding-right: 30px;    
}

.web-light-section {
    min-height: 50vh;
    background-color: #fff;
}

.web-light-head {
    text-transform: uppercase;
    font-size: 4.5rem;
    letter-spacing: 8px;
    font-weight: 500;
    color: #000;
}

.web-light-price {
    display: inline;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: 500;
    color: #fff;
    background: #000;
    padding: 0 auto;
    margin: 5px auto !important;
}

.web-light-decription {
    font-size: 1.5rem;
    font-weight: 300;
    color: #000;
    text-align: justify;
}

.web-light-own {
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000; 
    margin: 0 auto;
}

.own-block-1 {
    padding-left: 0px !important;
}

.own-block-2 {
    padding-right: 0px !important;
    text-align: right;
}

.web-light-banner {
    padding-top: 2vh;
    margin-right: -20vh;
    float: right;
}

.img-light {
    width: 450px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.5s;
}

.img-light:hover {
    transition: 0.5s;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}

/*------------------------------------------------------------------
End: Web-light Section (6, 8)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
Start: Web-Dark Section (7, 9)
-------------------------------------------------------------------*/


.web-dark-section {
    min-height: 50vh;
    background-color: #0c0c0c;
}

.web-dark-container {
    padding-top: 3vh;
    padding-left: 60px; 
    padding-right: 30px;    
}

.web-dark-info {
    float: right;
}

.web-dark-head {
    text-transform: uppercase;
    font-size: 4.5rem;
    letter-spacing: 8px;
    font-weight: 500;
    color: #fff;
    text-align: right;
}

.web-dark-price {
    display: inline;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    background: #fff;
    padding: 0 auto;
    margin: 5px auto !important;
    float: right;
}

.web-dark-decription {
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    text-align: justify;
    float: right;
}

.web-dark-own {
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 500;
    color: #fff; 
    margin: 0 auto;
    text-align: right;
}

.web-dark-own-block-1 {
    padding-right: 0px !important;
    float: right;
}

.web-dark-own-block-2 {
    padding-left: 0px !important;
    text-align: left !important;
}

.web-dark-banner {
    padding-top: 2vh;
    margin-right: -20vh;
}

.img-dark {
    width: 450px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.5s;
}

.img-dark:hover {
    transition: 0.5s;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}

/*------------------------------------------------------------------
End: Web-Dark Section (7, 9)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
Start: Portfolio Section (10)
-------------------------------------------------------------------*/

.portfolio-section {
    background-color: #fff;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 100vh;
}

.container-portfolio {
    border: 1px solid;
    margin-right: auto;
    margin-left: auto;
    padding-left: 35px;
    padding-right: 35px;
    width: 90%;
    height: 70vh;
}

.portfolio-main-head {
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 5px;
    padding: 20px 0;
    font-weight: 300;
    color: #000;
    text-align: center;
}

.portfolio-content {
    padding-top: 8vh;
}

.portfolio-img {
    padding-top: 8vh;
}

.portfolio-sub-head {
    text-align: left;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
}

.portfolio-head {
    text-align: left;
    font-size: 4rem;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 35px;
}

.portfolio-goals {
    text-align: left;
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    font-weight: 300;
    text-transform: uppercase;   
    padding-top: 20px; 
}

.portfolio-we-did {
    text-align: left;
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    font-weight: 300;
    text-transform: uppercase;   
    padding-top: 20px; 
}

.portfolio-goals-desc {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 100;
    text-transform: uppercase;   
}

.portfolio-we-did-desc {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 100;
    text-transform: uppercase;       
}

.portfolio-img-desc-num {
    text-align: left;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;       
}

.portfolio-img-desc {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 100;
    text-transform: uppercase;       
}

/*------------------------------------------------------------------
End: Portfolio Section (10)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
Start: Footer Section (11)
-------------------------------------------------------------------*/

.footer-section {
    background-image: url(/static/images/sections/footer.jpg);
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 100px 0 20px 0;
}

.container-footer {
    padding-left: 40px;
}

.contacts-border {
    margin-top: 60px;
    margin-left: -10px;
    width: 400px;
}

.footer-moto {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 25px;
}

.footer-moto-head {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 25px;
}

.footer-moto-sub {
    color: #fff;
    padding-top: 20px;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 25px;    
}

.btn-footer {
    text-transform: uppercase;
    text-align: center !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem !important;
    position: relative !important;
    top: -48px !important;
    font-weight: 300;
}

.btn-portfolio {
    margin-top: 80px;
}

.btn-brief {
    margin-top: 120px;
}

.btn-portfolio-2{
    text-decoration-line: none !important;
    color: #fff !important;
}

.btn-brief-2{
    text-decoration-line: none !important;
    color: #fff !important;
}

.contact-num {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    margin-left: 15px;
    margin-top: -100px !important;
}

.contact-mail {
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    margin-left: 15px;
    margin-top: -105px !important;
}

.footer-copy {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.copyright-hive {
    color: #fff !important;
}

.copyright-hive:hover {
    color: #fff !important;
    text-decoration-line: none;
}

.footer-made {
    margin-top: 10px;
    text-align: center;
    font-size: 12.5px;
    color: #999;
}


/*------------------------------------------------------------------
End: Footer Section (11)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
Tools: (Buttons, Switchers, Checkboxes, Blocks, etc.)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
Start: Calculator
-------------------------------------------------------------------*/

.calc-head {
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: 600;
    text-align: center;
    padding: 30px 0;
}

.calc-col-1 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.7rem;
    padding-top: 28px;
}


@media only screen and (max-width: 1024px) {
    .calc-row-7,
    .calc-row-8 {
        text-align: center;
    }
}

@media only screen and (max-width: 1024px) {
    .calc-row-1,
    .calc-row-2 {
        text-align: center;
    }
}

@media only screen and (min-width: 1024px) {
    .design {
       display: none;
    }
}

@media only screen and (max-width: 1024px) {
    .design-full {
       display: none;
    }
}

@media only screen and (min-width: 768px) {
    .pricing-mobile,
    .price-mobile {
       display: none;
    }
}

@media only screen and (max-width: 768px) {
    .pricing-mobile,
    .price-mobile {
       margin: -5px 0 30px 0;
       float: none !important;
    }
}

@media only screen and (max-width: 768px) {
    .price-mobile {
        padding: 0 50px !important;
    }
}

@media only screen and (max-width: 768px) {
    .pricing-block {
        text-align: center;
    }
}

.calc-row-1 {
    padding-top: 28px;
    font-weight: 100;
    font-size: 1.5rem;    
}

.calc-row-2,
.calc-row-8 {
    padding-top: 12px; 
    padding-left: 10px;   
}

.calc-row-7 {
    font-weight: 100;
    font-size: 1.5rem;
    padding-top: 28px;
}

.calc-row-9 {
    font-weight: 300;
    font-size: 2rem;
}

.pricing {
    display: inline;
    color: #fff;
    padding: 5px !important;
    border-radius: 6px;
    float: right;
    border: none !important;
    position: relative;
    background-color: #000;
    border: none;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.pricing:hover{
    background:#fff;
    box-shadow:0px 2px 10px 5px rgb(85, 85, 85);
    color:#000;
 }
 
 .pricing:after {
     content: "";
     background: #3f3f3f;
     display: block;
     position: absolute;
     padding-top: 300%;
     padding-left: 350%;
     margin-left: -20px !important;
     margin-top: -120%;
     opacity: 0;
     transition: all 0.8s
 }
 
 .pricing:active:after {
     padding: 0;
     margin: 0;
     opacity: 1;
     transition: 0s
 }

.price {
    border: 1px solid;
    display: inline;
    padding: 5px 35px;
    border-radius: 6px;
    float: left;
    width: 200px !important;
    text-align: center;
}

.pricing-block {
    padding: 30px 0;
}

.estimation-border {
    color: #000;
    border: 1px solid;
}

.calc-col-3 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-top: 28px;  
}

input[type="radio"] {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    outline: none !important;
    -webkit-appearance: none;
  }
  input[type="radio"]::before {
    position: relative;
    top: -1px !important;
    left: -1px !important;
    display: block;
    content: '';
    background: white;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 100%;
    -webkit-box-shadow: inset 0 0.1em 1px -0.1em rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0.1em 1px -0.1em rgba(0, 0, 0, 0.3);
    width: 32px;
    height: 32px;
  }
  input[type="radio"]:active::before {
    -webkit-box-shadow: inset 0 0.1em 1px -0.1em rgba(0, 0, 0, 0.3), inset 0 0 2px 3px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 0.1em 1px -0.1em rgba(0, 0, 0, 0.3), inset 0 0 2px 3px rgba(0, 0, 0, 0.1);
  }

  input[type="radio"]:checked::before {
    background: #dadada;
  }
  input[type="radio"]:disabled::before {
    cursor: not-allowed;
    background-color: #eaeaea;
    border-color: rgba(128, 128, 128, 0.2);
  }
  input[type="radio"]::after {
    position: relative;
    top: -17px !important;
    left: 15px !important;
    display: block;
    content: '';
    background: rgb(44, 44, 44);
    border-radius: 100%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    width: 0;
    height: 0;
  }
  input[type="radio"]:checked::after {
    -webkit-transition: all ease-in-out 100ms 0;
    transition: all ease-in-out 100ms 0;
    top: -26px !important;
    left: 6px !important;
    width: 18px;
    height: 18px;
  }
  input[type="radio"]:disabled::after {
    background: #cccccc;
  }

  label {
    font-size: 2.5em;
    display: block;
  }
  
  input + input {
    margin-left: .5em;
  }
  
  
  input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label2 {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  label2:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  input:checked + label {
    background: #bada55;
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label2:active:after {
    width: 30px;
  }
  
/*------------------------------------------------------------------
End: Calculator
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
Start: Blog Index Page
-------------------------------------------------------------------*/

.seacrh-section {
    padding: 140px 0 80px 0;
}

.search-container {
    padding-left: 50px;
    padding-right: 50px;
}

.container-blog-grid {
    padding: 40px 50px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="number"],
.form input[type="url"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="password"],
.form input[type="date"],
.form input[type="color"],
.form select{
    display: inline-block;
    height: 27px;
    vertical-align: middle;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #191816;
    border: 1px solid rgba(10, 10, 10, 0.8);
    padding-left: 7px;
    padding-right: 7px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.form select{
    font-size: 12px;
}
.form select[multiple]{
    height: auto;
}

.form input[type="text"]:hover,
.form input[type="email"]:hover,
.form input[type="number"]:hover,
.form input[type="url"]:hover,
.form input[type="search"]:hover,
.form input[type="tel"]:hover,
.form input[type="password"]:hover,
.form input[type="date"]:hover,
.form input[type="color"]:hover,
.form select:hover{
    border-color: rgba(0, 0, 0, 0.397);
}

.search-button{
    width: 42px;
    height: 40px;
    line-height: 38px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    right: 1px;    
    overflow: hidden;
    background: transparent;
    border: none;
    outline: none;
    color: #191816;
    font-size: 14px;
}

.pagination{
    text-align: center;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}
.pagination a{
    display: inline-block;
    min-width: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    padding: 7px 14px;
    border: 1px solid #b3b3b3;
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.pagination .fa{
    margin-top: 1px;
    font-size: 16px;
}
.pagination a:hover{
    text-decoration: none;
    border-color: #bbb;
    color: #444;
}
.pagination a.active,
.pagination a.active:hover{
    border: 2px solid;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    cursor: default;
}
.pagination a.no-active,
.pagination a.no-active:hover{
    border-color: #dddddd;
    color: rgb(129, 129, 129);
    cursor: default;
}

.widget-container {
    padding-left: 50px;
    padding-right: 50px;   
}

.widget-title {
    margin-bottom: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #191716;
    border-bottom: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
}

.widget-section {
    padding: 40px 0 10px 0;
}

.post-prev-text {
    margin-bottom: 22px;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.75;
    text-align: justify;
    letter-spacing: 0.5px;
}

.post-prev-title {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.5px;
}

.post-prev-info {
    color: #000;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.75;
    letter-spacing: 0.5px;    
}

.post-prev-info {
    color: #000;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.75;
    letter-spacing: 0.5px;    
}

a.btn-read-more {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
	color: rgba(0, 0, 0, 0.8);
	box-shadow: rgba(0, 0, 0, 0.8) 0 0px 0px 2px inset;
}

a.btn-read-more:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
	color: rgba(255, 255, 255, 1);
	box-shadow: rgba(0, 0, 0, 0.95) 0 80px 0px 2px inset;
}

.btn-read-more {
	-webkit-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 500ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	max-width: 120px;
	text-decoration: none !important;
	border-radius: 2px;
    padding: 10px 10px;
}
/*------------------------------------------------------------------
End: Blog Index Page
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
Start: Blog Page
-------------------------------------------------------------------*/

.post-section {
    margin-top: 120px;
}

.post-head {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: #000;
}

.post-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    color: #000;
    text-align: justify;
}

/*------------------------------------------------------------------
End: Blog Page
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
Start: 404 Page
-------------------------------------------------------------------*/

.title-404 {
    font-family: 'Montserrat', sans-serif;
    font-size: 10rem;
    font-weight: 300;
    color: #fff;
    text-align: center; 
    letter-spacing: 30px;
}

.info-404 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    color: #fff;
    text-align: center; 
    text-transform: uppercase;
}

.info-404-2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    text-align: center; 
    text-transform: uppercase;
    padding-bottom: 40px;
}

.btn-404-block {
    text-transform: uppercase;
    text-align: center !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem !important;
    position: relative !important;
    top: -48px !important;
    font-weight: 300;
}

.btn-404 {
    padding-top: 50px;
    margin-top: 80px;
    display: initial;
}

.page-404 {
    background: #191816;
    min-height: 100vh;
}

/*------------------------------------------------------------------
End: 404 Page
-------------------------------------------------------------------*/


















