@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900&subset=cyrillic,cyrillic-ext');
@font-face {
  font-family: "Montserrat_hive";
  src: url("../fonts/Montserrat_hive-regular_fin.otf"); 
  font-style: normal; 
}
/*-----------------------------------------------
                        Init styles
-------------------------------------------------*/
html{
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;
}
html, body{
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
body{
  height: 100%;
  margin: 0;
  padding: 0;
  color: #191716;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;    
  -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 500;
  margin: 0;
}
/*-----------------------------------------------
                        Strong CONSTANTS
-------------------------------------------------*/
.x-lg,
.x-lg-bold,
.x-lg-300,
.x-lg-100{
  font-size: 5rem;
}
.lg,
.lg-bold,
.lg-300,
.lg-100{
  font-size: 4rem;
}
.x-md,
.x-md-bold,
.x-md-300,
.x-md-100{
  font-size: 2.6rem;
}
.md,
.md-bold,
.md-300,
.md-100{
  font-size: 2.3rem;
}
.s-md,
.s-md-bold,
.s-md-300,
.s-md-100{
  font-size: 2rem !important;
}
.sm,
.sm-bold,
.sm-300,
.sm-100{
  font-size: 1.75rem;
}
.x-sm,
.x-sm-bold,
.x-sm-300,
.x-sm-100{
  font-size: 1.4rem;
}
.x-lg-bold,
.lg-bold,
.x-md-bold,
.md-bold,
.s-md-bold,
.sm-bold,
.x-sm-bold{
  font-weight: bold;
}
.x-lg,
.lg,
.x-md,
.md,
.s-md,
.sm,
.x-sm{
  font-weight: 500;
}
.x-lg-300,
.lg-300,
.x-md-300,
.md-300,
.s-md-300,
.sm-300,
.x-sm-300{
  font-weight: 300;
}
.x-lg-100,
.lg-100,
.x-md-100,
.md-100,
.s-md-100,
.sm-100,
.x-sm-100{
  font-weight: 100;
}
.padding-tb-1{
  padding: 1vh 0;
}
.padding-tb-2{
  padding: 2vh 0;
}
.padding-tb-4{
  padding: 4vh 0;
}
.padding-tb-5{
  padding: 5vh 0;
}
.padding-tb-7{
  padding: 7vh 0;
}
.padding-tb-10{
  padding: 10vh 0;
}
.padding-tb-2-5{
  padding: 2vh 0 5vh 0;
}
.padding-tb-2-10{
  padding: 2vh 0 10vh 0;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.justify{
  text-align: justify;
}
.uppercase{
  text-transform: uppercase;
}
.button-small-white,
.button-small-dark{
  font-size: 3.5vh;
}
.button-medium-white,
.button-medium-dark{
  font-size: 4.5vh;
}
.button-large-white,
.button-large-dark{
  font-size: 5.5vh;
}
.button-small-dark,
.button-medium-dark,
.button-large-dark{
  border: 2px solid transparent;
  background-color: #191716;
  color: #fffff2;
}
.button-small-dark:hover,
.button-medium-dark:hover,
.button-large-dark:hover{
  color: #191716;
  background-color: #fffff2;
  border: 2px solid #191716;
}
.button-small-white,
.button-medium-white,
.button-large-white{
  border: 2px solid transparent;
  background-color: #fffff2;
  color: #191716;
}
.button-small-white:hover,
.button-medium-white:hover,
.button-large-white:hover{
  color: #fffff2;
  background-color: #191716;
  border: 2px solid #fffff2;
}
.button-small-white,
.button-medium-white,
.button-large-white,
.button-small-dark,
.button-medium-dark,
.button-large-dark{
  margin: 0 10px;
  padding: 3px 10px;
  border: none;
  font-weight: 100;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.button-small-white:hover,
.button-medium-white:hover,
.button-large-white:hover,
.button-small-dark:hover,
.button-medium-dark:hover,
.button-large-dark:hover{
  padding: 3px 14px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.button-border-dark{
  border-left: 2px solid #191716;
  border-right: 2px solid #191716;
  height: 100% !important;
  margin: 0 auto;
  width: max-content;
}
.button-border-white{
  border-left: 2px solid #fffff2;
  border-right: 2px solid #fffff2;
  height: 100% !important;
  margin: 0 auto;
  width: max-content;
}
.button{
  margin: 0 10px;
  padding: 2px 10px;
  border: none;
  font-size: 3.5vh;
  font-weight: 100;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.button:hover{
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.button-dark{
  border: 2px solid transparent;
  background-color: #fffff2;
  color: #191716;
}
.button-white{
  border: 2px solid transparent;
  background-color: #191716;
  color: #fffff2;
}
.button-dark:hover{
  color: #fffff2;
  background-color: #191716;
  border: 2px solid #fffff2;
}
.button-white:hover{
  color: #191716;
  background-color: #fffff2;
  border: 2px solid #191716;
}
.center-60,
.center-70,
.center-80{
  display: inline-block;
}
.center-60{
  width: 60%;
}
.center-70{
  width: 70%;
}
.center-80{
  width: 80%;
}
.inline{
  display: inline;
}
/*-----------------------------------------------
                        END CONSTANTS
-------------------------------------------------*/
/*-----RESPONSIVE----------*/
@media  only screen and (max-width:1000px){
.container-tech{
  padding: 0 15px;
  }
 h1{
  font-size: 4.5rem !important;
  line-height: 7rem !important;
 }
 .site_title{
  top: 25vh !important;
  left: 4% !important;
  width: 100%;
 }
 .subtitle{
  font-size: 3rem !important;
}
.tech-stack{
  display: none;
}
.container-hive{
  padding: 0 30px !important;
}
.sub-block-cta{
  padding: 0 !important;
}
.right-border{
  font-size: 5rem !important;
  border: none !important;
}
.site-map{
  display: none;
}
}

@media  only screen and (max-width:1300px){
  .container-hive{
    padding: 10px 15px !important;
  }
}

@media  only screen and (min-width:600px){
  h1{
    font-size: 9rem;
    line-height: 10rem;
   }
}
@media  only screen and (min-width:1400px){
  h1{
    font-size: 11rem;
    line-height: 12rem;
   }
}
.site_title{
  top: 30vh;
  left: 10%;
  position: absolute;
  z-index: 2;
}
h2, h3{
  font-size: 3rem;
}
h4{
  font-size: 3rem;
}
h5{
  font-size: 2rem;
}
h6{
  font-size: 1.5rem;
}
canvas {
  background: #222;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  display: block;
}
strong{
  font-weight: 700;
}
h1 strong{
  font-weight: 900;
}
ul {
  margin: 0;
  padding: 0;
}
a{
  color: #fffff2;
}
a:focus, a:hover, a{
  text-decoration: none;
}
p{
  margin: 0;
  font-size: 2rem;
}
p.count span{
  font-size: 3rem;
  font-weight: 100;
}
p span{
  font-weight: bold;
}
.count-descr{
  line-height: 2rem;
}

/*----------Scrollbar fixes--------------------*/
::-webkit-scrollbar {
  width: 0;
}
/*----------Languages switcher ---------------*/

.lang-switcher{
  position: absolute;
  top:10px;
  z-index: 1001;
  left: 20px;
}
.lang-switcher a{
  display: block;
}
.lang-switcher a, .lang-switcher-mobile a{
  margin: 10px !important;
  padding: 10px !important;
  color: #fffff2;
  border: 1px solid #fffff2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
.dark{
  color: #191716 !important;
  border: 1px solid #191716 !important;
}
.lang-selected.dark{
  color: #fffff2 !important;;
  background: #191716;
}
.lang-switcher a.dark:hover{
  color: #fffff2 !important;;
  background: #191716;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
.lang-switcher a:hover, .lang-selected{
  color: #191716 !important;
  background: #fffff2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
.lang-switcher-mobile{
  display: none;
}
/*----------Navbar----------------*/
ul > li > a {
  position: relative;
  color: #fffff2;
  text-decoration: none;
}
ul > li > a:hover {
  color: #fffff2;
  text-decoration: none;
}
ul#navmenu > li > a.dark:before{
  background-color: #191716;
}
ul#navmenu > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fffff2;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
ul#navmenu > li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.hamburger{
  float: right;
  margin: 10px;
}
.hamburger .line{
  width: 40px;
  height: 2px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger:hover{
  cursor: pointer;
}
.hamburger.is-active .line:nth-child(2){
  opacity: 0;
}
.hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(10px) rotate(45deg);
  -ms-transform: translateY(10px) rotate(45deg);
  -o-transform: translateY(10px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}
.hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -ms-transform: translateY(-10px) rotate(-45deg);
  -o-transform: translateY(-10px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}
.toggleMenu {
  padding: 10px 15px;
  color: #fffff2;
  width: 100%;
  display: none;
  background:#000000f2;
  padding: 10px 15px;
  color: #fffff2;
  margin: 0;
  position: absolute;
  z-index: 1000;
}
.nav {
  position: absolute;
  z-index: 1000;
  display: block;
  width: 100%;
  list-style: none;
  padding-left: 100px;
}
.nav ul {
  list-style: none;
  width: 9em;
}
.nav a {
  padding: 30px 30px 12px 30px;
  color:#fffff2;
}
.nav li {
  position: relative;
}
.nav > li {
  float: left;
}
.nav > li > a {
  letter-spacing: 1px;
  display: block;
  text-transform: lowercase;
}
.nav li ul {
  position:absolute;
  left:0;
  overflow:hidden;
}
.nav a.dark{
  border: none !important;
}
@media screen and (max-width: 860px) {
  .nav{
    margin-top: 80px;
    padding-left: 0;
    background: #000000f2;
  }
  .active {
      display: block;
  }
  .nav > li {
      float: none;
  } 
  .nav ul {
    display: block;
  }
  .logo{
    display: none;
  }
  .mobile-logo{
    float: left;
  }
  .lang-switcher{
    display: none;
  }
  .lang-switcher-mobile{
    display: inline-flex;
  }
  ul {
    text-align: center;
  }
}
.logo{
  float: right !important;
}
.site-logo{
  padding-top:20px !important;
}

/*----SECTIONS-----*/
.dark-section{
  color: #fffff2;
  background-color: #191716;
}
 a:hover, a:hover{
   color: #fffff2;
}
.white-section{
  color: #191716;
  background-color: #fffff2;
}
.section-content{
  text-align:center;
  margin: 0 auto;
}
.section-header{
  padding-top: 2vh;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}
.section-header-2{
  font-size: 4.5vh;
  font-weight: bold;
  text-align: center;
}
.container-tech{
  padding-top: 4vh;
  padding-left: 26vh;
  padding-right: 18vh;
}
.section-header span{
  font-weight: 300;
}
p.count{
  font-size: 13vh;
  margin-bottom: -15px;
}
img.grey {
  width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
img.grey:hover  {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.right-border{
  border-right: 2px solid #fffff2;
}
.right-border-black{
  border-right: 2px solid #191716;
}
.block-pad{
  padding: 0 10vh;
}
.row{
  margin-bottom: 3rem;
}
.npddng{
  padding-top: 0!important;
}

/* HOME section */
.subtitle{
  font-size: 4rem;
}
.scroll-down{
  width: 40px;
  height: 40px;
  margin-left: -20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
}
.scroll-down:before{
  display: block;
  content: "";
  width: 35px;
  height: 35px;
  margin: 0 0 0 -15px;
  position: absolute;
  left: 50%;
  background: #dee8e6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  -o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); 
  transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  z-index: 1;
}
.scroll-down:hover:before{
  opacity: .6;
}
.scroll-down-icon{
  width: 25px;
  margin-left: -10px;
  position: absolute;
  left: 50%; 
  -webkit-animation: scroll-down-anim 1s infinite;
  -moz-animation: scroll-down-anim 1s infinite;
  -o-animation: scroll-down-anim 1s infinite;
  animation: scroll-down-anim 1s infinite; 
  z-index: 2;
}
@-webkit-keyframes scroll-down-anim {
  0%{ bottom: 2px; }
  50%{ bottom: 7px; }
  100%{ bottom: 2px; }
}
@-moz-keyframes scroll-down-anim {
  0%{ bottom: 2px; }
  50%{ bottom: 7px; }
  100%{ bottom: 2px; }
}
@-o-keyframes scroll-down-anim {
  0%{ bottom: 2px; }
  50%{ bottom: 7px; }
  100%{ bottom: 2px; }
}
@keyframes scroll-down-anim {
  0%{ bottom: 2px; }
  50%{ bottom: 7px; }
  100%{ bottom: 2px; }
}

/*---------SERVICES SECTION---------------*/

.container-hive{
  padding: 0 20vh;
}
.num-service {
  font-size: 8vh;
  font-weight: bold;
}
.name-service {
  padding: 0 2.5vh;
  font-size: 2.6vh;
}
.description-service{
  padding: 1vh;
  text-align: justify;
  font-size: 1.7vh;
}
.service-description {
  font-size: 2vh;
  padding: 1vh;
}
.original{
  position: relative;
  top:30%;
}
.box {
  display: block;
  width: 100%;
  height: 480px;
  overflow: hidden;
  text-align: center;
  position: relative;
  font-size: 2.2vh;
}
.overlay {
  padding: 20px;
  text-align: justify;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.slide-up .overlay {
  background-color: #191716;
  
  transform: translateX(100%);
  transition: all 0.8s 0.1s ease;
}
.slide-up .box:hover .overlay {
  transform: translateX(0);
}
.overlay div  {
  padding: 10px;
  text-align: center;
}
.card-button {
  font-size: 1.75rem;
  text-align: center;
  padding: 5px;
  border: 2px solid #fffff2;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  color: #191716;
  background-color: #fffff2;
}
.card-button:hover{
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  color: #fffff2;
  background: #191716;
}
.card-button-black{
  border: 2px solid #191716;
  color: #fffff2;
  background-color: #191716;
}
.card-button-black:hover{
  color: #191716;
  background: #fffff2;
}
.btn-article{
  font-size: 2.5vh;
}

/*---------PRODUCTS SECTION---------------*/
.head-product{
  text-align: left;
  font-size: 7.5vh;
  font-weight: bold;
}
.price{
  font-size: 3vh;
  font-weight: 300;
  color: #fffff2;
  background-color: #191716;
  padding: 0.5vh 1vh;
}
.price-white{
  color: #191716;
  background-color: #fffff2;
  font-size: 4vh;
  font-weight: 500;
  padding: 0.5vh 1vh;
}
.view-product{
  display: inline-flex;
  padding: 2vh 0;
}
.btn-price{
  padding: 2vh 0;
}
.view-icon{
  width: 40px;
  height: 40px;
  padding: 0 0.5vh;
}
.view-mode{
  padding: 0.5vh 2vh 0.5vh 0;
}
/*----------------------------------------*/
/*---------PORTFOLIO SECTION--------------*/
.section-sub-header{
  text-align: center;
  padding-bottom: 3vh;
}
.portfolio-link{
  padding: 4vh;
  float: left;
  color: #191716;
}
.portfolio-link-white{
  padding: 4vh 2vh 4vh 0;
  float: left;
  color: #fffff2;
}
.portfolio-link:hover{
  color: #191716;
}
.portfolio-link-white:link{
  color: #fffff2;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
.owl-carousel .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
  background-color: #000;
}
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 45%;
  color: #000;
}
.owl-carousel .owl-prev {
  left: -55px;
}
.owl-carousel .owl-next {
  right: -30px;
}


/*----------------------------------------*/
/*---------CTA SECTION---------------*/
.section-header-cta{
  font-size: 6vh;
  line-height: 9.5vh;
  font-weight: bold;
  padding: 20vh 0;
}
.button-presentation{
  text-align: center;
  line-height: 2.5vh;
  padding-top: 25vh;
  font-size: 4vh;
}
a.btn-download{
  padding: 1vh 0;
  border-bottom: 2px solid #fffff2;
  line-height: 20px;
}
.order-btn-block{
  padding-top: 5vh;
}
.button-order{
  margin: 0 10px;
  padding: 6px 30px;
  border: none;
  font-size: 4vh;
  font-weight: 100;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.button-order:hover{
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

/*-----------------------------------------*/
/*-----------------------------------------*/
/*---------NEWS SECTION---------------*/
.section-header-news{
  font-size: 7.5vh;
  font-weight: bold;
}
.blog-card{
  padding: 3vh 2vh 0 2vh;
}
.blog-img {
  width: 100%;
}
.blog-detalis{
  padding: 1vh 0;
  display: inline-flex; 
}
.blog-date{
  font-size: 2.5vh;
  font-weight: 500;
  padding: 0 1.2vh;
  background-color: #191716;
  color: #fffff2;
}
.blog-author{
  font-size: 2.5vh;
  padding-left: 3vh;
}
.blog-head{
  font-size: 3.2vh;
  line-height: 3.5vh;
  padding: 1vh 0;
  font-weight: 500;
}
.blog-info{
  font-size: 2.2vh;
  text-align: justify;
}
a.btn-article{
  text-transform: uppercase;
  padding: 1vh 1vh;
  border: 1px solid #191716;
  color: #191716;
  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
a.btn-article:hover{
  border: 1px solid #191716;
  color: #fffff2;
  background: #191716;
  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
a.btn-pop-in{
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 1vh 1vh;
  border: 1px solid #fffff2;
  color: #fffff2;
  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
a.btn-pop-in:hover{
  border: 1px solid #fffff2;
  color: #191716;
  background: #fffff2;
  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
a.btn-white-pop{
  font-size: 2.5vh;
}
/*-----------------------------------------*/

/*---------FOOTER---------------*/
.container-footer{
  padding: 0 5vh;
}
.site-map-head{
  line-height: 14vh;
  font-size: 4.5vh;
  font-weight: bold;
  margin-top: -5vh;
}
.site-map-head-2{
  font-size: 3vh;
  font-weight: bold;
}
.site-map-text{
  letter-spacing: 1px;
  padding: 1.5vh 0;
  line-height: 3vh;
  font-size: 2.5vh;
  font-weight: 100;  
}
.contacts-block{
  display: grid;
  text-align: center;
}
.contacts-head{
  font-size: 3vh;
  font-weight: bold;
}
.contacts-data{
  font-size: 2.7vh;
  color: inherit;
}
.adress-block{
  padding: 2vh 0;
}
.contacts-adress{
  font-size: 2.2vh;
  font-weight: 100;
}
a.site-map-link{
  color: #fffff2;
}
.copyright{
  font-size: 1.8vh;
  font-weight: 100;
}
.footer-social-links a{
    padding-top: 12px;
    width: 40px;
    height: 40px;
    line-height: 15px !important;
    position: relative;
    margin: 0 6px;
    text-align: center;
    display: inline-block;
    color: #fffff2;
  
  -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
  -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
  -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
  transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.footer-social-black a{
  color: #fffff2 !important;
}
.footer-social-links a{
  margin: 15px;
}
.footer-social-links a i,
.footer-social-links a span{
  position: relative;
  top: 0;
  left: 0; 
  font-size: 16px;
}
.footer-social-black a i:hover,
.footer-social-black a span:hover{
  color: #191716 !important;
}
.team-social-links{
  padding: 2vh 0;
}
.team-social-links a{
  padding-top: 9px !important;
}
.team-social-links a i,
.team-social-links a span{
  font-size: 14px !important;
}
.team-social-links a:before{
  width: 35px !important;
  height: 35px !important;
  left: 2px !important; 
}
.footer-social-links a:before{

  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #fffff2;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  
  -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
  -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
  -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
  transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.footer-social-black a:before{
  border-color: #191716 !important;
}
.footer-social-links a:hover{
  color: #191716;
}
.footer-social-links a:hover:before{
  background: #fffff2;
}
.footer-social-black a:hover:before{
  background: #fffff2 !important;
  color: #191716 !important;
}
.footer-social-black a:before{
  background: #191716 !important;
}

/*-----------------------------------------*/


/*---------404---------------*/
.page-404{
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  padding: 30vh 0;
}
.head-404{
  font-size: 20vh;
  font-weight: bold;
}
.sub-head-404{
  font-size: 5vh;
  font-weight: 500;
}
p.contacts-404{
  color: #fffff2 !important;
  font-size: 4vh;
  font-weight: 500;
  padding: 5vh 0;
}
span.or{
  font-size: 4vh;
  font-weight: 500;
}
.sub-block-404{
  padding: 5vh;
}
/*-----------------------------------------*/

/*---------ABOUT PAGE---------------*/

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 20%;
  text-align: center;
} 
.background-team{
  background-image: url('/static/images/team/about.svg');
}
.about-info{
  font-size: 1.8rem;
  text-align: center;
  padding: 2vh 0;
}
.about-sub-header{
  font-size: 2.5rem;
  font-weight: 300; 
}
.about-cta-sub{
  padding: 6vh 0 0 0;
  font-size: 2.5rem;
  font-weight: 300; 
  line-height: 2.7rem;
  width: 60%;
  display: inline-block;
}
.count-block{
  padding: 8vh 0;
}
.team-img{
  width: 100%;
}
.team-name{
  font-size: 2rem;
  font-weight: 500;
}
.team-pos{
  font-size: 1.5rem;
  font-weight: 300;
}
.team-border { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  text-align: center;
  border-bottom: 5px solid #191716;
} 


/*-----------------------------------------*/
/*---------CONTACTS PAGE---------------*/

.container-contacts{
  padding: 0 10vh !important;
}
.contacts-page{
  padding: 5vh 0;
}
.contacts-desc > strong{
  font-size: 2.5rem;
}
.contacts-desc{
  font-size: 1.8rem;
}
#map{
  height: 60vh;
  width: 100%;
}
.hive-map{
  position: initial !important;
  overflow: auto !important;
}
.google-head{
  color: #191716;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
}
.google-sub-head p{
  color: #191716;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.metro{
  color: #191716;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold; 
}

/*-----------------------------------------*/
/*---------STYLE REASSIGN---------------*/
#fp-nav ul li a span, .fp-slidesNav ul li a span{
  background-color: #fffff2; 
}
#fp-nav ul li a.active span, #fp-nav ul li a span{
  border-radius: 0 !important;
}
.iScrollVerticalScrollbar, .iScrollLoneScrollbar{
  display: none;
}

/*slider arrows */
.fp-controlArrow.fp-prev {
  left: 70px;
  width: 0;
  border: solid #171615;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 25px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.fp-controlArrow.fp-next {
  right: 70px;
  width: 0;
  border: solid #171615;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 25px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


/*-----------------------------------------*/


/*---------SUPPORT PAGE---------------*/
.support-page{
  padding: 2vh 0;
}
.support-sub-header{
  text-align: center;
  font-size: 2.4rem;
}
.answ-support > li {
  list-style-type: square;
}
.redirect-info{
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1vh 0;
}
.accordion-block{
  padding: 0 20vh;
}
.accordion > dt,
.accordion-portfolio > dt{
  padding: 1vh 0;
  font-size: 1.7rem;
  font-weight: 500;
}
.accordion > dt > a,
.accordion-portfolio > dt > a{
  display: block;
  position: relative;
  color: #fffff2;
  text-decoration: none;
  padding: 0.5vh 2.5vh;
  border: 1px solid #fffff2;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.accordion > dt > a:hover,
.accordion-portfolio > dt > a:hover{
  text-decoration: none;
  border-color: #fffff2;
  background-color: #fffff2;    
  color: #191716;
}
.accordion > dt > a.active,
.accordion-portfolio > dt > a.active{
  color: #191716;
  border-color: #fffff2;
  background-color: #fffff2;
}
.accordion > dt > a:after,
.accordion-portfolio > dt > a:after{
  position: absolute;
  top: 50%;
  text-transform: none;
  font-size: 1.7rem;
  line-height: 1.5rem;
  text-align: center;
  color: #fffff2;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.accordion > dt > a:hover:after,
.accordion-portfolio > dt > a:hover:after{
  color: #191716;
}
.accordion > dd,
.accordion-portfolio > dd{
  margin-bottom: 10px;
  padding: 1vh 0;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.8;
  color: #fffff2;
}
.hr-sub-cta{
  display: block;
  margin: 5vh 0 15vh 0;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #191716;
  width: 30%;
  text-align: center;
}
.button-cta-blog{
  font-size: 5vh;
}
/*-----------------------------------------*/

/*---------BLOG INDEX PAGE---------------*/
.form input[type="search"] {
  display: inline-block;
  height: 27px;
  vertical-align: middle;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #777;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 7px;
  padding-right: 7px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.form select{
  font-size: 1.5rem;
}
.form select[multiple]{
  height: auto;
}
.form input[type="search"]:hover{
  border-color: rgba(255, 255, 255, 0.2);
}
.form input[type="search"]:focus{
  color: rgb(255, 255, 255);
  border-color: rgba(255, 255, 255, 0.7);
  
  -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
  outline: none;
}
.form input[type="search"].input-lg{
  height: 46px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.5rem;
}
.form input[type="search"].input-md{
  height: 37px;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 1.5rem;
}
.form input[type="search"].input-sm{
  height: 31px;
  padding-left: 10px;
  padding-right: 10px;
}
.search-wrap{
  position: relative;
}
.search-field{
  width: 100% !important;
  height: 40px !important;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 2vh;
  outline-color: #000000;
}
.search-button{
  width: 42px;
  height: 40px;
  line-height: 38px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  right: 1px;    
  overflow: hidden;
  background: transparent;
  border: none;
  outline: none;
  color: #000000;
  font-size: 1.5rem;
}
a.search-head{
  padding: 0 2vh;
  font-size: 1rem;
}
.widget{
  padding: 2vh 0;
}
.widget-body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #000000;
}
.tags a{
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  margin: 0 2px 5px 0;
  padding: 5px 7px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.tags a:hover{
  text-decoration: none;
  border-color: #ffffff;
  color: #000000;
  background-color: #ffffff;
}
.widget{
  padding: 1vh 0;
}
.widget-body-black{
  color: #fffff2;
}
.tags-black a{
  border: 1px solid #191716;
  color: #191716;
}
.tags-black a:hover{
  border-color: #191716;
  color: #fffff2;
  background-color: #191716;
}
.border-blog-index{
  border-bottom: 2px solid #000000;
}
.border-blog-white{
  border-bottom: 2px solid #fffff2;
}
.border-popular-white{
  border-bottom: 2px solid #fffff2;
}
.category-block {
  padding: 2vh 0;
}
.name-category{
  text-align: left;
  font-size: 3.5rem;
}
.popular-blog{
  text-align: justify;
  width: 100%;
  font-size: 1.4rem;
}
.popular-block{
  padding: 1vh 0;
}
.popular-category{
  text-align: left;
  font-size: 2.5rem;
  padding: 0.5vh 0;
}
.popular-img{
  width: 100%;
}
.blog-index-page{
  font-size: 7.5vh;
  font-weight: bold;
  text-align: center;
}
a.btn-white{
  padding: 1vh 0;
  border-bottom: 2px solid #fffff2;
  color: #fffff2;
}
/*-----------------------------------------*/

/*---------BLOG CATEGORY INDEX PAGE---------------*/
.category-blog-section{
  padding: 12vh 0;
}
.blog-date-ind{
  background-color: #fffff2;
  color: #191716;
}
/*-----------------------------------------*/

/*---------BLOG SHOW SECTION---------------*/
.blog-show-img{
  text-align: center;
}
.show-post-img{
  width: 100%;
}
.title-block-show h3{
  text-align: center;
}
.show-blog-block{
  padding: 5vh 2.5vh;
}
.show-head{
  font-size: 3rem;
  line-height: 4rem;
  text-align: justify !important;
  padding: 0;
}
.current-date,
.current-author{
 font-size: 2rem;
}
.current-info{
  font-size: 1.7rem;
}
.centered-info{
  padding: 5vh 0;
}
/*-----------------------------------------*/

/*---------PORTFOLIO INDEX PAGE---------------*/
.portfolio-block{
  text-align: center;
  padding: 5vh 15vh;
}
.portfolio-category{
  border-top: 2px solid #fffff2;
  border-bottom: 2px solid #fffff2;
  text-align: center;
  font-size: 3.5rem;
  padding: 5vh 0;
  color: #fffff2;
}
.portfolio-category-img{
  display: none;
}
.portfolio-block h3{
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.portfolio-block h3:hover{
  background: #fffff2;
  color: #191716;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
/*-----------------------------------------*/

/*---------PORTFOLIO CATEGORY PAGE---------------*/
.portfolio-show-category{
  text-align: left;
  padding: 2vh 0;
  font-size: 5rem;
  font-weight: bold;
}
.portfolio-show-card{
  padding: 5vh 2vh 5vh 2vh;
}
.portfolio-show-desc{
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
  float: left;
}
.portfolio-show{
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  color: #191716;
  float: right;
  padding: 2vh 0;
}
.portfolio-show:hover{
  color: #191716;
}
.portfolio-show-border{
  border-bottom: 2px solid #191716;
}
img.portfolio-show-img{
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  width: 100%;
}
.portfolio-show-img:hover{
  background: #fffff2;
  color: #191716;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  width: 100%;
}
/*-----------------------------------------*/

/*---------PORTFOLIO SHOW PAGE---------------*/
.border-portfolio-show{
  border-bottom: 2px solid #fffff2;
}
.border-portfolio-show-2{
  border-bottom: 2px solid #191716;
}
.portfolio-show-image{
  padding: 2.5vh 0;
  width: 100%;
}
.portfolio-acc-desc{
  font-size: 1.5rem !important;
  padding: 1vh 0 !important;
  -webkit-margin-start: 20px;
  text-align: justify;
}
.view-portfolio{
  font-size: 1.7rem;
}
.portfolio-show-cta{
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 5vh 0;
}
.portfolio-show-quota{
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  padding: 2vh 0;
}
.portfolio-text-quota{
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}
.hr-portfolio-cta{
  display: block;
  margin: 5vh 0;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #191716;
  width: 50%;
  text-align: center;
}
.white-hr{
  border-bottom: 2px solid #fffff2;
}
.portfolio-client-quota{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  padding: 2vh 0;
}
/*-----------------------------------------*/

/*---------SERVICES INDEX PAGE---------------*/
.services-header{
  display: block;
  width: 60%;
}
.service-block-desc{
  line-height: 2.9rem;
  padding: 0 0 2vh 0;
}
.vertical-tab-wrap {
  display: flex;
  padding: 5vh 0;
  height: 65vh;
}
.vert-tabs {
  width: 50%;
  padding: 6vh 0;
}
.vert-tabs button {
  display: block;
  background-color: inherit;
  padding: 1.5vh 10vh;
  width: 100%;
  border: none;
  border-radius: 0;
  outline: none;
  text-align: right;
  transition: 0.3s;
  font-size: 2.2rem;
  font-weight: 100;
}
.tab-content {
  width: 50%;
  padding: 0 9vh;
  border-left: 3px solid #fffff2;
  overflow-y: scroll;
  display: none;

}
.tab-content.tabs-active {
  display: inline-block;
}

.tablinks.tabs-active{
  -webkit-transition: font-size 0.5s;
  -moz-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
       transition: font-size 0.5s;
  font-weight: bold;
  font-size: 2.5rem;
  margin-left: 5vh;
}

.tablinks.tabs-active:after{
  content: "\276D" !important;
  padding: 0 0 0 2vh;
  font-size: 3rem;
}
.testimonial-logo{
  height: 15vh;
}
.guarantees-24-7{
  font-size: 9rem;
  font-weight: 300;
}
.cli-support{
  background: #fffff2;
  color: #191716;
  padding: 1vh 2vh;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.cli-support:hover{
  background: #191716;
  color: #fffff2;
  border: 1px solid #fffff2;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
/*-----------------------------------------*/

/*---------SERVICES SHOW PAGE--------------*/
.serv-img {
  height: 20vh;
}
.pre-button-text{
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2vh 0;
}
.serv-num{
  font-weight: bold;
  font-size: 3rem;
}
.serv-text{
  font-weight: 300;
  font-size: 1.8rem;
}
.serv-block{
  padding: 8vh 2vh;
}
/*-----------------------------------------*/

/*---------PRODUCTS PAGE--------------*/
.products-ind-head{
  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
}
.prd-index-desc{
  text-align: justify;
  font-size: 1.5rem;
}


/*-----------------------------------------*/

/*---------PRODUCTS SHOW PAGE--------------*/
.products-show-head{
  font-size: 4rem;
  font-weight: bold;
  text-align: left;
}
.short-desc-prd{
  padding: 2vh 0;
  font-size: 2.5rem;
  font-weight: 300;
  text-align: left; 
}
.border-show-prd{
  border-bottom: 2px solid #fffff2;
  padding: 1vh 0;
  border-width: 30% !important;
  width: 30%;
}
.prd-img{
  width: 90%;
  float: right;
}
.prd-img-block{
  padding: 2vh 0;
}
.prd-desc-block{
  padding: 0;
}
.prd-form-field{
  padding: 1.5vh 0;
}
.form-block{
  padding: 3vh 10vh;
}
.btn-prd-block{
  padding: 10vh 0;
}
.help-block{
  border-bottom: 1px solid #191716;
  padding: 1vh 0;
}
.int-sub-header{
  font-size: 4rem;
  text-align: center;
  padding-bottom: 5vh;
}
.prd-btn-block{
  text-align: right;
}
.btn-input{
  padding: 2vh 0;
}
.motto-sub-header{
  font-size: 5rem;
  text-align: center;
}
.motto-block{
  border-right: 2px solid #191716;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.motto-block-unborder{
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.motto-block:hover{
  background: #191716;
  color: #fffff2;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
}
.motto-block-unborder:hover{
  background: #191716;
  color: #fffff2;
  -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
/*-----------------------------------------*/


/* ==============================
   Forms fields
   ============================== */

   .form input[type="text"],
   .form input[type="email"],
   .form input[type="number"],
   .form input[type="url"],
   .form input[type="search"],
   .form input[type="tel"],
   .form input[type="password"],
   .form input[type="date"],
   .form input[type="color"],
   .form select{
       display: inline-block;
       vertical-align: middle;
       font-size: 1.8rem;
       color: #fffff2;
       border: 1px solid #777;
       padding: 3vh 1vh;
       font-weight: 100;

       -webkit-border-radius: 0;
       -moz-border-radius: 0;
       border-radius: 0;
       -webkit-box-shadow: none;
       -moz-box-shadow: none;
       box-shadow: none;
       -moz-box-sizing: border-box;
       -webkit-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
       -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
       -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
       -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
       transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
   }
   .form select{
       font-size: 2rem;
   }
   .form select[multiple]{
       height: auto;
   }
   .form input[type="text"]:hover,
   .form input[type="email"]:hover,
   .form input[type="number"]:hover,
   .form input[type="url"]:hover,
   .form input[type="search"]:hover,
   .form input[type="tel"]:hover,
   .form input[type="password"]:hover,
   .form input[type="date"]:hover,
   .form input[type="color"]:hover,
   .form select:hover{
       border-color: #191716;
   }
   .form input[type="text"]:focus,
   .form input[type="email"]:focus,
   .form input[type="number"]:focus,
   .form input[type="url"]:focus,
   .form input[type="search"]:focus,
   .form input[type="tel"]:focus,
   .form input[type="password"]:focus,
   .form input[type="date"]:focus,
   .form input[type="color"]:focus,
   .form select:focus{
       color: #111;
       border-color: #191716;
       outline: none;
   }
   .form input[type="text"].input-lg,
   .form input[type="email"].input-lg,
   .form input[type="number"].input-lg,
   .form input[type="url"].input-lg,
   .form input[type="search"].input-lg,
   .form input[type="tel"].input-lg,
   .form input[type="password"].input-lg,
   .form input[type="date"].input-lg,
   .form input[type="color"].input-lg,
   .form select.input-lg{
       height: 46px;
       padding-left: 15px;
       padding-right: 15px;
       font-size: 13px;
   }
   .form input[type="text"].input-md,
   .form input[type="email"].input-md,
   .form input[type="number"].input-md,
   .form input[type="url"].input-md,
   .form input[type="search"].input-md,
   .form input[type="tel"].input-md,
   .form input[type="password"].input-md,
   .form input[type="date"].input-md,
   .form input[type="color"].input-md,
   .form select.input-md{
    padding: 0.5vh 0.5vh;
    font-size: 1.4rem;
    width: 40%;
    font-weight: 500;
    color: #191716;
   }
   .form input[type="text"].input-sm,
   .form input[type="email"].input-sm,
   .form input[type="number"].input-sm,
   .form input[type="url"].input-sm,
   .form input[type="search"].input-sm,
   .form input[type="tel"].input-sm,
   .form input[type="password"].input-sm,
   .form input[type="date"].input-sm,
   .form input[type="color"].input-sm,
   .form select.input-sm{
       height: 31px;
       padding-left: 10px;
       padding-right: 10px;
   }
   .form textarea{
     height: 20vh;
    padding: 2vh 2vh;
    font-size: 1.7rem;
    width: 100%;
    font-weight: 500;
    color: #191716;
       border-color: #777;
       outline: none;
       width: 100%;
       -webkit-box-shadow: none;
       -moz-box-shadow: none;
       box-shadow: none;
       
       -webkit-border-radius: 0;
       -moz-border-radius: 0;
       border-radius: 0;
   }
   .form textarea:hover{
    border-color: #191716;
   }
   .form textarea:focus{
       color: #191716;
       border-color: #191716;
   }
   .form .form-group{
       margin-bottom: 10px;
   }
   .form input.error{
       border-color: #e41919;
   }
   .form div.error{
       margin-top: 20px;
       padding: 13px 20px;
       text-align: center;
       background: rgba(228,25,25, .75);
       color: #fffff2;
   }
   .form div.success{
       margin-top: 20px;
       padding: 13px 20px;
       text-align: center;
       background: rgba(50,178,95, .75);
       color: #fffff2;
   }
   .form-tip{
       font-size: 11px;
       color: #fffff2;
   }
   .form-tip .fa{
       font-size: 12px;
   }

   /* vertical progress bar */
   .vert-pb {
    width: 65px;
    height: 140px;
    margin: auto;
    transform: rotate(180deg);
    display: inline-block;
  }
  
  .bar {
    width: 65px;
    height: 0px;
    background-color: #fffff2;
  }
  .block-inline{
    display: inline-block;
  }
  /*-------------*/


    
  .site-type{
    background: #fffff2;
    color: #191716;
    display: inline;
    padding: 0 2px;
  }
.inline-flex{
 display: inline-flex;
}
.f-right{
 float: right;
}
.f-left{
 float: left;
}
.projects-index-block{
 width: 95%;
 padding: 10px 0;
}
.site-name{
 padding: 0 10px;
}

.carousel-image img{
width: 150px !important;
margin: 0 auto;
}
.container-carousel{
 padding: 0 80px;
}
.text-block-cta{
 padding: 3vh 0 1vh 0;
}

  
   







   