<% include ../partials/header %>
    <div id='fp-js'>
        <div class="fp-js dark-section">
            <h2 class="blog-index-page">Professional website development.</h2>
            <div class="container-hive">
                <div class="row">
                    <div class="popular-block">
                        <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12 portfolio-block">
                            <a href="#">
                                <h3 class="portfolio-category">Landing</h3>
                            </a>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12 portfolio-block">
                            <a href="#">
                                <h3 class="portfolio-category">Catalogue</h3>
                                <img class="portfolio-category-img" src="/static/images/blog/post-1.jpg">
                            </a>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12 portfolio-block">
                            <a href="#">
                                <h3 class="portfolio-category">Corporate</h3>
                            </a>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12 portfolio-block">
                            <a href="#">
                                <h3 class="portfolio-category">Store</h3>
                            </a>
                        </div>
                        <div>
                            <a href="#about" class="scroll-down">
                                <img class="scroll-down-icon" src="/static/images/elements/angle-down.svg" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='fp-js white-section'>
            <div class="container">x
                <h2 class="section-header support-page">Do you like our Projects?</h2>
                <div class="hr-sub-cta"></div>
                <div class="button-border button-border-white">
                    <a class="button button-white button-cta-blog" href="/blog">Order
                        <strong>Now</strong>.
                    </a>
                </div>
            </div>
        </div>


        <% include ../partials/footer %>