<% include ../partials/header %>

    <div id='fp-js'>
        <div class="fp-js dark-section">
            <h2 class="section__main-title">Our portfolio.</h2>
            <div class="container">
                <div class="row">
                    <div class="widget center">
                        <div class="widget-body">
                            <div class="tags">
                                <a href="#">Landing</a>
                                <a href="#">Corporate</a>
                                <a href="#">Catalogue</a>
                                <a href="#">Store</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio__items-block">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                <p class='portfolio__tab-card'>
                                    Landing
                                </p>
                                <p class="portfolio__title-card">Paktum</p>
                                <a href="#">
                                    <img class="portfolio__img-card" src="/static/images/blog/post-1.jpg">
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                <p class='portfolio__tab-card'>
                                    Landing
                                </p>
                                <p class="portfolio__title-card">Paktum</p>
                                <a href="#">
                                    <img class="portfolio__img-card" src="/static/images/blog/post-1.jpg">
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                <p class='portfolio__tab-card'>
                                    Landing
                                </p>
                                <p class="portfolio__title-card">Paktum</p>
                                <a href="#">
                                    <img class="portfolio__img-card" src="/static/images/blog/post-1.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fp-js white-section">
            <h2 class="section__main-title">Business cases.</h2>
            <div class="container">
                <div class="row">
                    <div class="widget center">
                        <div class="widget-body-black widget-body">
                            <div class="tags-black tags">
                                <a href="#">Design</a>
                                <a href="#">Portfolio</a>
                                <a href="#">Digital</a>
                                <a href="#">Branding</a>
                                <a href="#">Theme</a>
                                <a href="#">Clean</a>
                                <a href="#">UI & UX</a>
                                <a href="#">Love</a>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio__items-block">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <p class='portfolio__title-cases'>
                                Paktum
                            </p>
                            <a href="#">
                                <img class="portfolio__img-card" src="/static/images/blog/post-1.jpg">
                            </a>
                            <p class='portfolio__under-title'>
                                www.debtcollection.com.ua
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <p class='portfolio__title-cases'>
                                Paktum
                            </p>
                            <a href="#">
                                <img class="portfolio__img-card" src="/static/images/blog/post-1.jpg">
                            </a>
                            <p class='portfolio__under-title'>
                                www.debtcollection.com.ua
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <p class='portfolio__title-cases'>
                                Paktum
                            </p>
                            <a href="#">
                                <img class="portfolio__img-card" src="/static/images/blog/post-1.jpg">
                            </a>
                            <p class='portfolio__under-title'>
                                www.debtcollection.com.ua
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='fp-js dark-section'>
            <div class="section-content">
                <div class="container">
                    <div class="row">
                        <h2 class="section__main-title">
                            Customer testimonials.
                        </h2>
                        <div class="services__carousel-block">
                            <div class="wrapper">
                                <div class="owl-carousel">
                                    <div>
                                        <div>
                                            <img class="services__testimonial-logo" src="/static/images/logo.svg">
                                        </div>
                                        <p class="services__testimonial-desc">"We want to express our gratitude for the advice in business endeavors. Individual
                                            and slightly non-standart approach to the customers."</p>
                                        <a class="portfolio__testimonial-author">Serhio Van Tareljo-De-Salatto.</a>
                                    </div>
                                    <div>
                                        <div>
                                            <img class="services__testimonial-logo" src="/static/images/logo.svg">
                                        </div>
                                        <p class="services__testimonial-desc">"We want to express our gratitude for the advice in business endeavors. Individual
                                            and slightly non-standart approach to the customers."</p>
                                        <a class="portfolio__testimonial-author">Serhio Van Tareljo-De-Salatto.</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-main__border-white">
                        <a class="btn-main__sm-white" href="#">
                            See full
                            <strong>portfolio</strong>.
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class='fp-js white-section'>
            <h2 class="section__main-title">
                Do you want to see any samples?
            </h2>
            <div class="container">
                <div class="col-xl-12 col-md-12 col-sm-8 col-xs-12 form__portfolio-block center">
                    <form method="post" action="#" id="form" role="form" class="form">
                        <div class="form__field-block">
                            <input type="text" name="direction" class="portfolio__field-model" placeholder="Your business direction" maxlength="100">
                        </div>
                        <div class="form__field-block">
                            <input type="text" name="first__name" class="portfolio__field-model" placeholder="First name" maxlength="100">
                        </div>
                        <div class="form__field-block">
                            <input type="text" name="last__name" class="portfolio__field-model" placeholder="Last name" maxlength="100">
                        </div>
                        <div class="form__field-block">
                            <input type="text" name="phone" class="portfolio__field-model" placeholder="Telephone" maxlength="100">
                        </div>
                        <div class="form__field-block">
                            <input type="text" name="email" class="portfolio__field-model" placeholder="E-mail" maxlength="100">
                        </div>
                        <div class="form__field-block">
                            <input class="portfolio__submit-btn" type="submit" value="Send Request">
                        </div>
                    </form>
                    <div class="portfolio__cta-block">
                        <p class="portfolio__cta-info">Wanna get a website right now?</p>
                        <p class="portfolio__cta-info">Take it by clicking the below button</p>
                    </div>
                    <div class="btn-main__border-dark">
                        <a class="btn-main__sm-dark" href="/about">
                            <strong>Order</strong> website
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <% include ../partials/footer %>
        