<% include ../partials/header %>
    <div id='fp-js'>
        <div class="fp-js dark-section">
            <h2 class="blog-index-page">Our portfolio.</h2>
            <div class="container">
                <div class="row">
                    <div class="widget center">
                        <div class="widget-body">
                            <div class="tags">
                                <a href="#">Landing</a>
                                <a href="#">Corporate</a>
                                <a href="#">Catalogue</a>
                                <a href="#">Store</a>
                            </div>
                        </div>
                    </div>
                    <div class="padding-tb-4">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-4 col-md-4 col-sm-4 col-xs-6">
                                    <p class='site-type x-sm-bold f-left'>
                                        Landing
                                    </p>
                                    <p class="x-sm-100 f-left site-name">Paktum</p>
                                    <a href="#">
                                        <img class="projects-index-block" src="/static/images/blog/post-1.jpg">
                                    </a>
                                </div>
                                <div class="col-xl-4 col-md-4 col-sm-4 col-xs-6">
                                    <p class='site-type x-sm-bold f-left'>
                                        Landing
                                    </p>
                                    <p class="x-sm-100 f-left site-name">Paktum</p>
                                    <a href="#">
                                        <img class="projects-index-block" src="/static/images/blog/post-1.jpg">
                                    </a>
                                </div>
                                <div class="col-xl-4 col-md-4 col-sm-4 col-xs-6">
                                    <p class='site-type x-sm-bold f-left'>
                                        Landing
                                    </p>
                                    <p class="x-sm-100 f-left site-name">Paktum</p>
                                    <a href="#">
                                        <img class="projects-index-block" src="/static/images/blog/post-1.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fp-js white-section">
            <h2 class="blog-index-page">Business cases.</h2>
            <div class="container">
                <div class="row">
                    <div class="widget center">
                        <div class="widget-body-black widget-body">
                            <div class="tags-black tags">
                                <a href="#">Design</a>
                                <a href="#">Portfolio</a>
                                <a href="#">Digital</a>
                                <a href="#">Branding</a>
                                <a href="#">Theme</a>
                                <a href="#">Clean</a>
                                <a href="#">UI & UX</a>
                                <a href="#">Love</a>
                            </div>
                        </div>
                    </div>
                    <div class="padding-tb-4">
                        <div class="col-xl-4 col-md-4 col-sm-4 col-xs-12">
                            <p class='md-500 center'>
                                Paktum
                            </p>
                            <a href="#">
                                <img class="" src="/static/images/blog/post-1.jpg">
                            </a>
                            <p class='sm-300 center'>
                                www.debtcollection.com.ua
                            </p>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-4 col-xs-12">
                            <p class='md-500 center'>
                                Paktum
                            </p>
                            <a href="#">
                                <img class="" src="/static/images/blog/post-1.jpg">
                            </a>
                            <p class='sm-300 center'>
                                www.debtcollection.com.ua
                            </p>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-4 col-xs-12">
                            <p class='md-500 center'>
                                Paktum
                            </p>
                            <a href="#">
                                <img class="" src="/static/images/blog/post-1.jpg">
                            </a>
                            <p class='sm-300 center'>
                                www.debtcollection.com.ua
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fp-js dark-section">
            <h2 class="blog-index-page padding-tb-7">Customer testimonial.</h2>
            <div class="container">
                <div class="row">
                    <div class="wrapper">
                        <div class="owl-carousel">
                            <div class="container-carousel">
                                <a class="carousel-image" href="#">
                                    <img src="/static/images/logo.svg">
                                </a>
                                <p class="center sm-500 padding-tb-4">If you want a site that contains all the effective mechanisms for the product presentation
                                    and sales on the Internet, an online store will cope with this task. This interactive
                                    website is designed to provide certain goods to your clients via account</p>
                                <div class="center">
                                    <a class="card-button" href="#">
                                        See Detalis
                                    </a>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='fp-js white-section'>
            <h2 class="section-header">
                Do you want to see any samples?
            </h2>
            <p class="x-md-500 center">
                just for your business
            </p>
            <div class="container">
                <div class="col-xl-12 col-md-12 col-sm-8 col-xs-12 form-block center">
                    <form method="post" action="#" id="form" role="form" class="form">
                        <div class="padding-tb-1">
                            <input type="text" name="name" id="name" class="input-md form-control" placeholder="Your business direction" maxlength="100">
                        </div>
                        <div class="padding-tb-1">
                            <input type="email" name="email" id="email" class="input-md form-control" placeholder="First name" maxlength="100">
                        </div>
                        <div class="padding-tb-1">
                            <input type="text" name="name" id="name" class="input-md form-control" placeholder="Last name" maxlength="100">
                        </div>
                        <div class="padding-tb-1">
                            <input type="email" name="email" id="email" class="input-md form-control" placeholder="Telephone" maxlength="100">
                        </div>
                        <div class="padding-tb-1">
                            <input type="email" name="email" id="email" class="input-md form-control" placeholder="E-mail" maxlength="100">
                        </div>
                        <div class="padding-tb-2">
                            <a class="card-button card-button-black">
                                Send request
                            </a>
                        </div>
                    </form>
                    <div class="text-block-cta">
                        <p class="center sm-bold">Wanna get a website right now?</p>
                        <p class="center sm-bold">Take it by clicking the below button</p>
                    </div>
                    <div class="button-border-dark">
                        <a class="button-small-dark" href="#">
                            <strong>Order</strong> website
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <% include ../partials/footer %>