<% include ../partials/header %>
    <div id="fp-js">
        <div class='fp-js dark-section'>
            <div class="center">
                <h2 class="section-header">Paktum.</h2>
                <a class="wb-text x-sm-bold">Landing</a>
                <h3 class="section-sub-header about-sub-header pad-sub-header">Ukrainian debt collection company</h3>
                <a href="#" class="x-sm-300 lowercase">www.debtcollection.com</a>
            </div>
            <div>
                <p class="x-md-bold center see-case">
                    <strong>See case.</strong>
                </p>
                <a href="#about" class="scroll-down">
                    <img class="scroll-down-icon" src="/static/images/elements/angle-down.svg" />
                </a>
            </div>
        </div>
        <div class='fp-js white-section'>
            <h2 class="portfolio-show-quota">Key objectives.</h2>
            <div class="container pad-container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12 key-obj-block">
                        <div class="border-left-strong">
                            <a class="bb-text sm-bold">Landing page.</a>
                            <ul class="key-obj-list">
                                <li class="sm-300 left lowercase padding-tb-1">
                                    <span class="border-bot">lo</span>udy declare the brand
                                </li>
                                <li class="sm-300 left lowercase padding-tb-1">
                                    tell about the product ant it's benefits while avoiding technical twists
                                </li>
                                <li class="sm-300 left lowercase padding-tb-1">
                                    <span class="border-bot">lo</span>udy declare the brand
                                </li>
                                <li class="sm-300 left lowercase padding-tb-1">
                                    <span class="border-bot">lo</span>udy declare the brand
                                </li>
                            </ul>
                        </div>
                        <p class="count count-days">30
                            <span>days</span>
                        </p>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12">
                        <h3 class="lg-bold uppercase left">a-z</h3>
                        <p class="sm-300">Font-Family: Montserrat</p>
                        <p class="sm-300">Font-Type: Light, Regular, Bold, Extra Bold</p>
                        <br>
                        <p class="sm-bold">Color Pattern</p>
                        <div class="col-xl-1 col-md-1 col-sm-1 col-xs-4 footer-social-links footer-social-black color-pattern-2">
                            <a class="color-black"></a>
                            <p class="sm">#191716</p>
                        </div>
                        <div class="col-xl-1 col-md-1 col-sm-1 col-xs-4 footer-social-links color-pattern">
                            <a class="color-black"></a>
                            <p class="sm">#FFFFF2</p>
                        </div>
                        <div class="col-xl-1 col-md-1 col-sm-1 col-xs-4 footer-social-links footer-social-grey color-pattern">
                            <a class="color-black"></a>
                            <p class="sm">#C7C7C7</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='fp-js dark-section'>
            <div class="center">
                <h2 class="section-header">Design Pack.</h2>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-social-links">
                    <a href="#" title="Behance" target="_blank">
                        <i class="fab fa-behance"></i>
                    </a>
                </div>
                <div class="design-pack">
                    <img src="/static/images/portfolio/paktum-set.png">
                </div>
            </div>
        </div>
        <div class='fp-js white-section'>
            <div class="center">
                <h2 class="section-header">Design Pack.</h2>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-social-links footer-social-black">
                    <a href="#" title="Behance" target="_blank">
                        <i class="fab fa-behance"></i>
                    </a>
                </div>
                <div class="design-pack">
                    <img src="/static/images/portfolio/paktum-set.png">
                </div>
            </div>
        </div>
        <div class='fp-js dark-section'>
            <div class="section-content">
                <h2 class="section-header">Project outputs.</h2>
                <div class="container" style="margin-top: 150px">
                    <div class="row">
                        <div class="col-xl-5 col-md-5 col-sm-5 col-xs-12">
                            <div class='vert-pb'>
                                <div class="bar" data-height="150"></div>
                            </div>
                            <div class='block-inline'>
                                <p class="count">+100
                                    <span>%</span>
                                </p>
                                <p class="count-descr">
                                    <b>visitors / mountly</b>
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3 col-sm-4 col-xs-12">
                            <div class='vert-pb'>
                                <div class="bar" data-height="250"></div>
                            </div>
                            <div class='block-inline'>
                                <p class="count">+3
                                    <span>x</span>
                                </p>
                                <p class="count-descr">
                                    <b>sales rate</b>
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3 col-sm-4 col-xs-12">
                            <p class="count">+1,2
                                <span>sec</span>
                            </p>
                            <p class="count-descr">
                                <b>faster page load</b>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="button-border-white">
                            <a class="button-small-white" href="#">
                                Choose
                                <strong>service</strong>.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='fp-js white-section'>
            <div class="container">
                <div class="padding-tb-4">
                    <h3 class="s-lg-bold center">"Lorem ipsum dolor sit amet, consectetur adipiscing elit quam lectus, facilisis auctor, ultrices ut,
                        elementum vulputate, nunc."
                    </h3>
                    <p class="s-md-500 padding-author right">Eugenii Porada: Paktum Ltd. CEO
                    </p>
                </div>
                <div class="padding-t-7">
                    <h3 class="md-bold center padding-tb-2">Do you like our Projects?</h3>
                    <div class="button-border-dark">
                        <a class="button-small-dark" href="#">
                            Order
                            <strong>now</strong>.
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <% include ../partials/footer %>