<% include ../partials/header %>
    <div id='fp-js'>
        <div class="fp-js dark-section">
            <h2 class="section-header">Hive-Blog.</h2>
            <div class="container padding-tb-2">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                        <form method="post" class="form">
                            <div class="search-wrap">
                                <button class="search-button animate" type="submit" title="Start Search">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input type="text" class="form-control search-field" placeholder="Search...">
                            </div>
                        </form>
                        <div class="widget">
                            <div class="widget-body">
                                <div class="tags">
                                    <a href="#">Design</a>
                                    <a href="#">Portfolio</a>
                                    <a href="#">Digital</a>
                                    <a href="#">Branding</a>
                                    <a href="#">Theme</a>
                                    <a href="#">Clean</a>
                                    <a href="#">UI & UX</a>
                                    <a href="#">Love</a>
                                </div>
                            </div>
                        </div>
                        <div class="left x-md">
                            <strong>Popular</strong> News
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-3 col-sm-4 col-xs-6">
                        <img class="popular-img" src="/static/images/blog/post-1.jpg">
                        <p class="popular-blog">1 mln $ have been invested in Ukrainian web production</p>
                        <div class="btn-price btn-pop">
                            <a class="btn-article btn-pop-in" href="#">Read More ></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-3 col-sm-4 col-xs-6">
                        <img class="popular-img" src="/static/images/blog/post-1.jpg">
                        <p class="popular-blog">1 mln $ have been invested in Ukrainian web production</p>
                        <div class="btn-price btn-pop">
                            <a class="btn-article btn-pop-in" href="#">Read More ></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-3 col-sm-4 col-xs-6">
                        <img class="popular-img" src="/static/images/blog/post-1.jpg">
                        <p class="popular-blog">1 mln $ have been invested in Ukrainian web production</p>
                        <div class="btn-price btn-pop">
                            <a class="btn-article btn-pop-in" href="#">Read More ></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-3 col-sm-4 col-xs-6">
                        <img class="popular-img" src="/static/images/blog/post-1.jpg">
                        <p class="popular-blog">1 mln $ have been invested in Ukrainian web production</p>
                        <div class="btn-price btn-pop">
                            <a class="btn-article btn-pop-in" href="#">Read More ></a>
                        </div>
                    </div>
                    <div>
                        <a href="#about" class="scroll-down">
                            <img class="scroll-down-icon" src="/static/images/elements/angle-down.svg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="fp-js white-section">
            <div class="container">
                <div class="row">
                    <h2 class="section-header">System Maintenance & Hosting.</h2>
                    <div class="category-block">
                        <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12 blog-card">
                            <img class="blog-img" src="/static/images/blog/post-1.jpg">
                            <div class="blog-detalis">
                                <p class="blog-date">Feb 07</p>
                                <p class="blog-author">Dmytro Kuznets</p>
                            </div>
                            <h3 class="blog-head">1 mln $ have been invested in Ukrainian web production</h3>
                            <div class="btn-price">
                                <a class="btn-article" href="#">Read More ></a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12 blog-card">
                            <img class="blog-img" src="/static/images/blog/post-1.jpg">
                            <div class="blog-detalis">
                                <p class="blog-date">Feb 07</p>
                                <p class="blog-author">Dmytro Kuznets</p>
                            </div>
                            <h3 class="blog-head">1 mln $ have been invested in Ukrainian web production</h3>
                            <div class="btn-price">
                                <a class="btn-article" href="#">Read More ></a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12 blog-card">
                            <img class="blog-img" src="/static/images/blog/post-1.jpg">
                            <div class="blog-detalis">
                                <p class="blog-date">Feb 07</p>
                                <p class="blog-author">Dmytro Kuznets</p>
                            </div>
                            <h3 class="blog-head">1 mln $ have been invested in Ukrainian web production</h3>
                            <div class="btn-price">
                                <a class="btn-article" href="#">Read More ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-border-dark">
                <a class="button-small-dark" href="#">
                    Choose
                    <strong>service</strong>.
                </a>
            </div>
        </div>
        <div class="fp-js dark-section">
            <div class="container">
                <div class="row">
                    <h2 class="section-header">SEO.</h2>
                    <div class="category-block">
                        <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12 blog-card">
                            <img class="blog-img" src="/static/images/blog/post-1.jpg">
                            <div class="blog-detalis">
                                <p class="blog-date blog-date-ind">Feb 07</p>
                                <p class="blog-author">Dmytro Kuznets</p>
                            </div>
                            <h3 class="blog-head">1 mln $ have been invested in Ukrainian web production</h3>
                            <div class="btn-price">
                                <a class="btn-article btn-pop-in btn-white-pop" href="#">Read More ></a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12 blog-card">
                            <img class="blog-img" src="/static/images/blog/post-1.jpg">
                            <div class="blog-detalis">
                                <p class="blog-date blog-date-ind">Feb 07</p>
                                <p class="blog-author">Dmytro Kuznets</p>
                            </div>
                            <h3 class="blog-head">1 mln $ have been invested in Ukrainian web production</h3>
                            <div class="btn-price">
                                <a class="btn-article btn-pop-in btn-white-pop" href="#">Read More ></a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12 blog-card">
                            <img class="blog-img" src="/static/images/blog/post-1.jpg">
                            <div class="blog-detalis">
                                <p class="blog-date blog-date-ind">Feb 07</p>
                                <p class="blog-author">Dmytro Kuznets</p>
                            </div>
                            <h3 class="blog-head">1 mln $ have been invested in Ukrainian web production</h3>
                            <div class="btn-price">
                                <a class="btn-article btn-pop-in btn-white-pop" href="#">Read More ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-border-white">
                <a class="button-small-white" href="#">
                    Choose
                    <strong>service</strong>.
                </a>
            </div>
        </div>
        <div class='fp-js white-section'>
            <div class="container">
                <h2 class="section-header support-page">We invite you to immerse in the world of Web Technologies.</h2>
                <div class="hr-sub-cta"></div>
                <div class="button-border-dark">
                    <a class="button-medium-dark" href="#">
                        About
                        <strong>Us</strong>.
                    </a>
                </div>
            </div>
        </div>

        <% include ../partials/footer %>