<% include ../../partials/header %>

     <div class="white-section category-blog-section">
          <div class="container">
               <h2 class="lg-bold left">Web Development</h2>
               <div class="blog-detalis">
                    <p class="bb-text x-sm-bold">Feb 07</p>
                    <p class="sm-300 padding-l-2">Dmytro Kuznets</p>
               </div>
               <div class="row">
                    <div class="col-xl-9 col-md-9 col-sm-12 col-xs-12">
                         <h3 class="x-md left">1 mln $ have been invested in Ukrainian web production</h3>
                         <div class="blog-show-img padding-tb-2">
                              <img class="show-post-img" src="/static/images/blog/post-1.jpg">
                         </div>
                    </div>
                    <div class="col-xl-3 col-md-3 col-sm-12 col-xs-12">
                         <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                              <img class="popular-img" src="/static/images/blog/post-1.jpg">
                              <p class="xs padding-b-1">1 mln $ have been invested in Ukrainian web production</p>
                              <div class="f-left padding-b-2">
                                   <a class="xs bb-text" href="#">
                                        Jan 01
                                   </a>
                              </div>
                              <div class="f-right padding-b-2">
                                   <a class="card-button card-button-black-2 card-button-xs" href="#">
                                        See Detalis
                                   </a>
                              </div>
                         </div>
                         <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                              <img class="popular-img" src="/static/images/blog/post-1.jpg">
                              <p class="xs padding-b-1">1 mln $ have been invested in Ukrainian web production</p>
                              <div class="f-left padding-b-2">
                                   <a class="xs bb-text" href="#">
                                        Jan 01
                                   </a>
                              </div>
                              <div class="f-right padding-b-2">
                                   <a class="card-button card-button-black-2 card-button-xs" href="#">
                                        See Detalis
                                   </a>
                              </div>
                         </div>
                         <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                              <img class="popular-img" src="/static/images/blog/post-1.jpg">
                              <p class="xs padding-b-1">1 mln $ have been invested in Ukrainian web production</p>
                              <div class="f-left padding-b-2">
                                   <a class="xs bb-text" href="#">
                                        Jan 01
                                   </a>
                              </div>
                              <div class="f-right padding-b-2">
                                   <a class="card-button card-button-black-2 card-button-xs" href="#">
                                        See Detalis
                                   </a>
                              </div>
                         </div>
                    </div>
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
                         <p class="sm-300 justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet
                              nibh nec urna.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
                              Pellentesque aliquet nibh nec urna.Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                              Phasellus hendrerit. Pellentesque aliquet nibh nec urna.Lorem ipsum dolor sit amet, consectetuer
                              adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.ipsum dolor sit amet,
                              consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.Lorem
                              ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet
                              nibh nec urna.ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
                              aliquet nibh nec urna.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit.
                              Pellentesque aliquet nibh nec urna.ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
                              hendrerit. Pellentesque aliquet nibh nec urna.Lorem ipsum dolor sit amet, consectetuer adipiscing
                              elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.</p>
                    </div>
               </div>
               <div class="footer-social-links footer-social-black padding-b-4">
                    <a href="https://www.facebook.com/groups/875659312616598/" title="Facebook" target="_blank">
                         <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" title="Behance" target="_blank">
                         <i class="fab fa-behance"></i>
                    </a>
               </div>
               <div class="widget widget-black">
                    <div class="widget-body widget-body-black">
                         <div class="tags tags-black">
                              <a href="#">Design</a>
                              <a href="#">Portfolio</a>
                              <a href="#">Digital</a>
                              <a href="#">Branding</a>
                         </div>
                    </div>
               </div>
               <div class="border-bot-black"></div>
          </div>
     </div>

     </div>
     <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
     <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="/static/js/typeit.min.js"></script>
     <script type="text/javascript" src="/static/js/scrolloverflow.min.js"></script>
     <script type="text/javascript" src="/static/js/jquery.fullpage.js"></script>
     <script type="text/javascript" src="/static/js/scripts.js"></script>
     <script type="text/javascript" src="/static/js/lang-cookie.js"></script>
     <script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>

     </body>

     </html>