<link rel="stylesheet" href="/static/css/lib/grid-system.min.css">

<div class="container-fluid">
    <div class="row">
        <h1><%= translation.HEADING %></h1>
    </div>
    <div class="row">
        <% services.forEach(function(service){ %>
            <div class="col-lg-3">
                <h2><%= service.name %></h2>
                <p><%= service.desc %></p>
                <a href="/services/<%= service.url %>">To service</a>
            </div>
        <% }); %>
    </div>
</div>
