<% include ../partials/header %>
    <div id='fp-js'>
        <div class='fp-js dark-section'>
            <div class="section-content">
                <h2 class="section-header">
                    Hive creates a website of any complexity.</h2>
                <div class="container">
                    <div class="row">
                        <div class="vertical-tab-wrap">
                            <div class="vert-tabs">
                                <button class="tablinks tabs-active" data-tab="tab-1" data-bind="click: backToTop">
                                    System Maintenance & Hosting
                                </button>
                                <button class="tablinks" data-tab="tab-2" data-bind="click: backToTop">
                                    Fullstack Web Development
                                </button>
                                <button class="tablinks" data-tab="tab-3" data-bind="click: backToTop">
                                    Identity Design & Branding
                                </button>
                                <button class="tablinks" data-tab="tab-4" data-bind="click: backToTop">
                                    SEO & Digital Marketing
                                </button>
                            </div>
                            <div id="tab-1" class="tab-content tabs-active">
                                <div class="animated slideInDown">
                                    <p class="service-block-desc">Today’s informed consumer is able to quickly find your website and digital marketing
                                        presence to assess your credibility and whether you’re worthy of their time and money.
                                        Don’t lose conversions with a broken or vulnerable website. By partnering with Hive
                                        Studio, you can be calm for the stability and security of your information resource.
                                        Our team is always ready to provide a wide-range tech support including network,
                                        hosting and digital maintenance solutions.</p>
                                    <div class="btn-service-block">
                                        <a class="card-button btn-service" href="#">
                                            See Detalis
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-content">
                                <div class="animated slideInDown">
                                    <p class="service-block-desc">Stunning design is great for business. We specialises in creating custom web design that
                                        are crafted to meet your brand, design and functionality needs. Our websites are
                                        easy to edit, update and manage allowing you to keep your website content fresh and
                                        relevant encouraging repeat visits and increasing traffic to your website. We ensure
                                        our websites work well on desktop computers as well as on mobile devices such as
                                        smartphones and tablets.</p>
                                    <div class="btn-service-block">
                                        <a class="card-button btn-service" href="#">
                                            See Detalis
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-3" class="tab-content">
                                <div class="animated slideInDown">
                                    <p class="service-block-desc">Your brand will help distinguish you from your competitors and should always be consistent
                                        with your website. Is your current brand looking a little bit tired? Are you ready
                                        to re-launch with a refreshing new look? We will implement your ideas in the best
                                        shape and shade, while creating an exquisite look that will surely please your customers.</p>
                                    <div class="btn-service-block">
                                        <a class="card-button btn-service" href="#">
                                            See Detalis
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-4" class="tab-content">
                                <div class="animated slideInDown">
                                    <p class="service-block-desc">Having a great website is really nice, but if nobody sees it, it’s in vain to make you
                                        money. In today's competitive online environment, it is absolutely vital that your
                                        site appears near the top of search engine results. Search engines change the rules
                                        frequently, so we will work hard to get your site noticed, drive traffic and increase
                                        your return on investment. We can help your website search engine friendly, optimize
                                        content and even help you track conversions.</p>
                                    <div class="btn-service-block">
                                        <a class="card-button btn-service" href="#">
                                            See Detalis
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='fp-js white-section'>
            <div class="section-content">
                <div class="container">
                    <div class="row">
                        <h2 class="section-header testimonials-header">
                            Customer testimonials.
                        </h2>
                        <div>
                            <img class="testimonial-logo" src="/static/images/logo-dark.svg">
                        </div>
                        <p class="testimonial-info">"We want to express our gratitude for the advice in business endeavors. Individual and slightly non-standart
                            approach to the customers."</p>
                        <p class="testimonial-author"> - Serhio Van Tareljo-De-Salatto.</p>
                        <div class="button-border-dark">
                            <a class="button-small-dark" href="#">
                                See full
                                <strong>portfolio</strong>.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='fp-js dark-section'>
            <div class="container-hive">
                <div class="row">
                    <h3 class="support-sub-header">
                        <strong>#3</strong> | Identity Design & Branding
                    </h3>
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12 border-blog-white"></div>
                    <div class="col-xl-8 col-md-8 col-sm-8 col-xs-12 srv-desc-block">
                        <p class="srv-index-desc">If you want a site that contains all the effective mechanisms for the product presentation and sales
                            on the Internet, an online store will cope with this task. This interactive website is designed
                            to provide certain goods to your clients via account. If you want a site that contains all the
                            effective mechanisms for the product presentation and sales on the Internet, an online store
                            will cope with this task.</p>
                        <div class="srv-btn-block">
                            <a class="card-button srv-btn">
                                See Detalis
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-xs-122 srv-img-block">
                        <img class="service-img" src="/static/images/services/design.svg">
                    </div>
                </div>
            </div>
        </div>

        <div class='fp-js white-section'>
            <div class="container-hive">
                <div class="row">
                    <h3 class="support-sub-header white-sub-header">
                        <strong>#4</strong> | SEO & Digital Marketing
                    </h3>
                    <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12 border-blog-index"></div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-xs-122 srv-img-block">
                        <img class="service-img left-img" src="/static/images/services/ad.svg">
                    </div>
                    <div class="col-xl-8 col-md-8 col-sm-8 col-xs-12 srv-desc-block">
                        <p class="srv-index-desc">If you want a site that contains all the effective mechanisms for the product presentation and sales
                            on the Internet, an online store will cope with this task. This interactive website is designed
                            to provide certain goods to your clients via account. If you want a site that contains all the
                            effective mechanisms for the product presentation and sales on the Internet, an online store
                            will cope with this task.</p>
                        <div class="srv-btn-block">
                            <a class="card-button srv-btn srv-btn-black">
                                See Detalis
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='fp-js dark-section'>
            <div class="container">
                <h2 class="portfolio-show-quota">Client Quota.</h2>
                <p class="portfolio-text-quota">"Lorem ipsum dolor sit amet, consectetur adipiscing elit quam lectus, facilisis auctor, ultrices ut, elementum
                    vulputate, nunc."
                </p>
                <p class="portfolio-client-quota"> - Eugenii Porada: Paktum Ltd. CEO
                </p>
                <div class="hr-portfolio-cta white-hr"></div>
                <h2 class="portfolio-show-cta">Do you like our Projects?</h2>
                <div class="button-border button-border-dark">
                    <a class="button-order button-dark" href="#">
                        Order
                        <strong>now</strong>.
                    </a>
                </div>
            </div>
        </div>

        <% include ../partials/footer %>