<% include ../partials/header %>

  <div id='fp-js'>
    <div class='fp-js dark-section'>
      <div class="section-content">
        <h1 class="section__main-title">
          <%= service.name %>
        </h1>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center">
              <img class="service__service-img" src="/static/images/services/maintenance.svg">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p class="service__service-desc">
                Today’s informed consumer is able to quickly find your website and digital marketing presence to assess your credibility
                and whether you’re worthy of their time and money. Don’t lose conversions with a broken or vulnerable website.
              </p>
              <p class="service__service-desc">
                By partnering with Hive Studio, you can be calm for the stability and security of your information resource. Our team is
                always ready to provide a wide-range tech support including network, hosting and digital maintenance solutions.
              </p>
            </div>
            <p class="service__btn-desc">What are you waiting for?</p>
            <div class="btn-main__border-white">
              <a class="btn-main__sm-white" href="/blog">
                Choose
                <strong>service</strong>.
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='fp-js white-section'>
      <div class="section-content">
        <h2 class="section__main-title padding-tb-1">
          What we do.
        </h2>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 service__centered-cards">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 service__card-block">
                <div class="service__card-content">
                  <p class="service__card-num">#1</p>
                  <p class="service__card-desc">Domain for 1 year</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 service__card-block">
                <div class="service__card-content">
                  <p class="service__card-num">#1</p>
                  <p class="service__card-desc">Domain for 1 year</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 service__card-block">
                <div class="service__card-content">
                  <p class="service__card-num">#1</p>
                  <p class="service__card-desc">Domain for 1 year</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 service__card-block">
                <div class="service__card-content">
                  <p class="service__card-num">#1</p>
                  <p class="service__card-desc">Domain for 1 year</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 service__card-block">
                <div class="service__card-content">
                  <p class="service__card-num">#1</p>
                  <p class="service__card-desc">Domain for 1 year</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 service__card-block">
                <div class="service__card-content">
                  <p class="service__card-num">#1</p>
                  <p class="service__card-desc">Domain for 1 year</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='fp-js dark-section'>
      <div class="section-content">
        <h2 class="section__main-title">Business growth.</h2>
        <div class="container" style="margin-top: 150px">
          <div class="row">
            <div class="col-xl-5 col-md-5 col-sm-5 col-xs-12">
              <div class='vert-pb'>
                <div class="bar" data-height="150"></div>
              </div>
              <div class='block-inline'>
                <p class="count">+100
                  <span>%</span>
                </p>
                <p class="count-descr">
                  <b>visitors / mountly</b>
                </p>
              </div>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-4 col-xs-12">
              <div class='vert-pb'>
                <div class="bar" data-height="250"></div>
              </div>
              <div class='block-inline'>
                <p class="count">+3
                  <span>x</span>
                </p>
                <p class="count-descr">
                  <b>sales rate</b>
                </p>
              </div>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-4 col-xs-12">
              <p class="count">+1,2
                <span>sec</span>
              </p>
              <p class="count-descr">
                <b>faster page load</b>
              </p>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="button-border-white">
              <a class="button-small-white" href="#">
                Choose
                <strong>service</strong>.
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='fp-js white-section'>
      <h2 class="section__main-title padding-tb-4">
        Do you want to see any samples?
      </h2>
      <div class="container">
        <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12 right-border-black button-block">
          <div class="btn-main__border-dark">
            <a class="btn-main__lg-dark" href="/blog">
              Download
              <strong>brief.</strong>.
            </a>
          </div>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12 service__form-block">
          <form method="post" action="#" id="form" role="form" class="form">
            <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12 service__field-block">
              <input type="text" name="first__name" class="contacts__field-model" placeholder="First name" maxlength="100">
            </div>
            <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12 service__field-block">
              <input type="text" name="last__name" class="contacts__field-model" placeholder="Last name" maxlength="100">
            </div>
            <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12 service__field-block">
              <input type="text" name="email" class="contacts__field-model" placeholder="E-mail" maxlength="100">
            </div>
            <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12 service__field-block">
              <input type="text" name="phone" class="contacts__field-model" placeholder="Telephone" maxlength="100">
            </div>
            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12 service__field-block">
              <input type="text" name="direction" class="contacts__field-model" placeholder="Your business direction" maxlength="100">
            </div>
            <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12 service__field-block">
              <textarea name="text" id="text" class="service__field-textarea" rows="5" placeholder="Comments" maxlength="400"></textarea>
            </div>
            <div class="upload__block-btn">
              <label class="upload">
                <input type="file" />
                <span>Choose File</span>
              </label>
              <input placeholder="No file chosen" class="upload__field-path" disabled />
            </div>
            <div class="service__submit-block">
              <a class="service__submit-btn" href="#">
                Send brief
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <% include ../partials/footer %>