<% include ../partials/header %>
  <div id='fp-js'>
    <div class='fp-js dark-section'>
      <div class="section-content">
        <h1 class="section-header">
          <%= service.name %>
        </h1>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <img class="serv-img" src="/static/images/services/maintenance.svg">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p class="padding-tb-5 center-80 sm-300">
                Today’s informed consumer is able to quickly find your website and digital marketing presence to assess your credibility
                and whether you’re worthy of their time and money. Don’t lose conversions with a broken or vulnerable website.
                By partnering with Hive Studio, you can be calm for the stability and security of your information resource.
                Our team is always ready to provide a wide-range tech support including network, hosting and digital maintenance
                solutions.
              </p>
            </div>
            <p class="padding-tb-2 x-md-bold">What are you waiting for?</p>
            <div class="button-border-white">
              <a class="button-small-white" href="#">
                Choose
                <strong>service</strong>.
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='fp-js white-section'>
      <div class="section-content">
        <h2 class="section-header padding-tb-2-5">
          What we do.
        </h2>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 serv-full-block">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 serv-block">
                <p class="serv-num">#1</p>
                <p class="serv-text">Domain for 1 year</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 serv-block">
                <p class="serv-num">#2</p>
                <p class="serv-text">Hosting for 1 year</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 serv-block">
                <p class="serv-num">#3</p>
                <p class="serv-text">Security services</p>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 serv-full-block">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 serv-block">
                <p class="serv-num">#4</p>
                <p class="serv-text">Back-End optimization</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 serv-block">
                <p class="serv-num">#5</p>
                <p class="serv-text">Bug fixing</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 serv-block">
                <p class="serv-num">#6</p>
                <p class="serv-text">Emailing and call services</p>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="button-border-dark">
                <a class="button-small-dark" href="#">
                  Choose
                  <strong>service</strong>.
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='fp-js dark-section'>
      <div class="section-content">
        <h2 class="section-header">Business growth.</h2>
        <div class="container" style="margin-top: 150px">
          <div class="row">
            <div class="col-xl-5 col-md-5 col-sm-5 col-xs-12">
                <div class='vert-pb'>
                  <div class="bar" data-height="150"></div>
                </div>
                <div class='block-inline'>
                  <p class="count">+100<span>%</span></p>
                  <p class="count-descr"><b>visors / mountly</b></p>
                </div>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-4 col-xs-12">
                <div class='vert-pb'>
                    <div class="bar" data-height="250"></div>
                  </div>
                <div class='block-inline'>
                  <p class="count">+3<span>x</span></p>
                  <p class="count-descr"><b>sales rate</b></p>
                </div>
            </div>
            <div class="col-xl-3 col-md-3 col-sm-4 col-xs-12">
              <p class="count">+1,2<span>sec</span></p>
              <p class="count-descr"><b>faster page load</b></p>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="button-border-white">
              <a class="button-small-white" href="#">
                Choose
                <strong>service</strong>.
              </a>
            </div>
          </div>
          
        </div>
      </div>
    </div>

  <div class='fp-js white-section'>
    <div class="section-content">
      <h2 class="section-header testimonials-header">
        What we do.
      </h2>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 serv-full-block">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 serv-block">
              <p class="serv-num">#1</p>
              <p class="serv-text">Domain for 1 year</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 serv-block">
              <p class="serv-num">#2</p>
              <p class="serv-text">Hosting for 1 year</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 serv-block">
              <p class="serv-num">#3</p>
              <p class="serv-text">Security services</p>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 serv-full-block">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 serv-block">
              <p class="serv-num">#4</p>
              <p class="serv-text">Back-End optimization</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 serv-block">
              <p class="serv-num">#5</p>
              <p class="serv-text">Bug fixing</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 serv-block">
              <p class="serv-num">#6</p>
              <p class="serv-text">Emailing and call services</p>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="button-border-dark">
              <a class="button-small-dark" href="#">
                Choose
                <strong>service</strong>.
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include ../partials/footer %>