<link rel="stylesheet" href="/static/css/lib/grid-system.min.css">

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1><%= service.name %></h1>
            <%- service.ext_desc %>
        </div>
    </div>
</div>