<!-- jQuery Core -->
<script type="text/javascript" src="/static/lib/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS Core -->
<script type="text/javascript" src="/static/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<!-- jQuery UI -->
<script type="text/javascript" src="/static/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<!-- jQuery AJAX FormSubmit -->
<script type="text/javascript" src="/static/lib/jquery.form.min.js"></script>
</body>
</html>